In [1]:
import pandas as pd
import numpy as np

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as ec
from selenium.webdriver.chrome.options import Options
from datetime import datetime, timedelta
from oceanoobsbrasil.db import GetData
from oceanoobsbrasil.utils import *
from oceanoobsbrasil.buoys.aqualink import AqualinkBuoy

import os
from dotenv import load_dotenv

from bs4 import BeautifulSoup
import re
import chromedriver_binary
import time

%load_ext autoreload
%autoreload 2

In [2]:
a = AqualinkBuoy()

In [3]:
a.stations

     id           name     lat     lon data_type institution  url  flag
0  1217  Ilha do Farol -23.001 -42.007      buoy    aqualink  984  True

In [4]:
a.get()

https://aqualink.org/sites/984
WINDSPEED25.6km/hDIRECTION247°WAVESHEIGHT1.9mPERIOD7sDIRECTION167°Valid 37 min. agoUpdated every 6 hoursSOFAR MODEL
['25.6', '247', '1.9', '7', '167°Valid', '37', 'min.']
        wspd wdir swvht tp      wvdir                                    sst  \
0  13.822899  247   1.9  7  167°Valid  SATELLITE OBSERVATIONSURFACE TEMP23.1

             date_time station_id
0  2023-06-02 08:00:00       1217
DELETE FROM data_stations WHERE true AND station_id in ('1217') AND date_time >= '2023-06-02 08:00:00'
Engine(postgresql+psycopg2://oceanobs:***@oceanobs.postgres.uhserver.com/oceanobs)

DataError: (psycopg2.errors.InvalidTextRepresentation) ERRO:  sintaxe de entrada é inválida para tipo numeric: "SATELLITE OBSERVATIONSURFACE TEMP23.1"
LINE 1: ....822899200000002, '247', '1.9', '7', '167°Valid', 'SATELLITE...
                                                             ^

[SQL: INSERT INTO data_stations (wspd, wdir, swvht, tp, wvdir, sst, date_time, station_id) VALUES (%(wspd)s, %(wdir)s, %(swvht)s, %(tp)s, %(wvdir)s, %(sst)s, %(date_time)s, %(station_id)s)]
[parameters: {'wspd': 13.822899200000002, 'wdir': '247', 'swvht': '1.9', 'tp': '7', 'wvdir': '167°Valid', 'sst': 'SATELLITE OBSERVATIONSURFACE TEMP23.1', 'date_time': '2023-06-02 08:00:00', 'station_id': '1217'}]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

In [13]:
a.driver = webdriver.Chrome(options=a.options)
a.driver.get('https://aqualink.org/sites/984')

In [14]:
soup=BeautifulSoup(a.driver.page_source, 'html.parser')

In [20]:
soup.find_all(attrs={'class': 'MuiCard-root'})[4].text

'WINDSPEED34.7km/hDIRECTION56°WAVESHEIGHT1.3mPERIOD5sDIRECTION82°Valid 1 hour agoUpdated every 6 hoursSOFAR MODEL'

In [15]:
soup.find_all(attrs={'class': 'MuiCard-root'})[1].text

'SATELLITE OBSERVATIONSURFACE TEMP24.3°CHISTORICAL MAX25.4°CDEGREE HEATING WEEKS0.0SST ANOMALY-1.0°C0246810121416182025Last data received 1 day agoUpdated dailyNOAA'

In [40]:
text = a.soup.find_all(attrs={'class': 'MuiCard-root'})[1].text
text = text.replace('BUOY OBSERVATIONTEMP AT 1m', '')
text = text.split('°')[0]
text

'27.8'

In [26]:
text = x
text = text.replace('WINDSPEED', '')
text = text.replace('km/hDIRECTION', ',')
text = text.replace('°WAVESHEIGHT', ',')
text = text.replace('mPERIOD', ',')
text = text.replace('sDIRECTION', ',')
text = text.replace('°Last data received ', ',')
text = text.replace(' ',',')
text = text.split(',')[0:7]

In [28]:
x

'WINDSPEED5.8km/hDIRECTION302°WAVESHEIGHT0.8mPERIOD9sDIRECTION340°Last data received 59 min. agoUpdated hourlyLIVE'

In [11]:
url=f"{a.url}{a.stations.iloc[0].url}"
url

'https://aqualink.org/sites/1186'

In [12]:
url=f"{a.url}{a.stations.iloc[0].url}"
a.driver.get(url)
time.sleep(10)

In [13]:
soup=BeautifulSoup(a.driver.page_source, 'html.parser')

In [21]:
l = soup.find(attrs={'class': 'jss138'})

In [40]:
datetime.now().strftime("%Y-%m-%d %H:00:00")

'2021-11-25 21:00:00'

In [51]:
l = soup.find(attrs={'class': 'jss103'})
l.text[0:-2]

'28.0'

In [29]:
text = l.text
text

'WINDSPEED5.8km/hDIRECTION208°WAVESHEIGHT1.1mPERIOD10sDIRECTION162°Last data received 56 min. agoUpdated hourlyLIVE'

In [35]:
text = l.text
text = text.replace('WINDSPEED', '')
text = text.replace('km/hDIRECTION', ',')
text = text.replace('°WAVESHEIGHT', ',')
text = text.replace('mPERIOD', ',')
text = text.replace('sDIRECTION', ',')
text = text.replace('°Last data received ', ',')
text = text.replace(' ',',')
text = text.split(',')[0:7]

In [36]:
text[-1]

'min.'

In [ ]:
options = Options()
self.options = def_args_prefs(self.options, self.args, self.preferences)
self.driver = webdriver.Chrome(options=self.options)

self.db = GetData()
self.equip = equip
self.stations = self.db.get(table='stations', institution=['=', 'aqualink'], data_type=['=', self.equip])

self.url='https://aqualink.org/sites/'

In [34]:
p = PEBuoy()

In [35]:
p.get()

354.99750039428926
driver is running
chrome is still running, we can quit
driver has died

In [62]:
p.result

,date_time,wvdir,swvht,wvdir_sea,swvht_sea,wvdir_swell,swvht_swell,wspd,gust,wdir,station_id
0,2021-09-12 19:50:00,125,1.52,102,1.36,138,0.69,5.19,5.96,203,895

In [63]:
os.getenv('SE_PWD')

'Senhachata1!'