In [1]:
import pandas as pd
import numpy as np

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as ec
from selenium.webdriver.chrome.options import Options
from datetime import datetime, timedelta
from oceanoobsbrasil.db import GetData
from oceanoobsbrasil.utils import *
from oceanoobsbrasil.buoys.aqualink import AqualinkBuoy

import os
from dotenv import load_dotenv

from bs4 import BeautifulSoup
import re
import chromedriver_binary
import time

%load_ext autoreload
%autoreload 2

In [2]:
a = AqualinkBuoy()

In [4]:
a.stations

     id     name    lat     lon data_type institution   url  flag
0  1110  noronha -3.859 -32.449      buoy    aqualink  1186  True

In [3]:
a.get()

WINDSPEED20.3km/hDIRECTION88°WAVESHEIGHT1.6mPERIOD6sDIRECTION137°Valid 31 min. agoUpdated every 6 hoursNOAA GFS
['20.3', '88', '1.6', '6', '137°Valid', '31', 'min.']
        wspd wdir swvht tp      wvdir  sst            date_time station_id
0  10.961127   88   1.6  6  137°Valid  - -  2022-07-29 21:00:00       1110

DataError: (psycopg2.errors.InvalidTextRepresentation) ERRO:  sintaxe de entrada é inválida para tipo numeric: "- -"
LINE 1: ...ALUES (10.9611271, '88', '1.6', '6', '137°Valid', '- -', '20...
                                                             ^

[SQL: INSERT INTO data_stations (wspd, wdir, swvht, tp, wvdir, sst, date_time, station_id) VALUES (%(wspd)s, %(wdir)s, %(swvht)s, %(tp)s, %(wvdir)s, %(sst)s, %(date_time)s, %(station_id)s)]
[parameters: {'wspd': 10.9611271, 'wdir': '88', 'swvht': '1.6', 'tp': '6', 'wvdir': '137°Valid', 'sst': '- -', 'date_time': '2022-07-29 21:00:00', 'station_id': '1110'}]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

In [40]:
text = a.soup.find_all(attrs={'class': 'MuiCard-root'})[1].text
text = text.replace('BUOY OBSERVATIONTEMP AT 1m', '')
text = text.split('°')[0]
text

'27.8'

In [26]:
text = x
text = text.replace('WINDSPEED', '')
text = text.replace('km/hDIRECTION', ',')
text = text.replace('°WAVESHEIGHT', ',')
text = text.replace('mPERIOD', ',')
text = text.replace('sDIRECTION', ',')
text = text.replace('°Last data received ', ',')
text = text.replace(' ',',')
text = text.split(',')[0:7]

In [28]:
x

'WINDSPEED5.8km/hDIRECTION302°WAVESHEIGHT0.8mPERIOD9sDIRECTION340°Last data received 59 min. agoUpdated hourlyLIVE'

In [11]:
url=f"{a.url}{a.stations.iloc[0].url}"
url

'https://aqualink.org/sites/1186'

In [12]:
url=f"{a.url}{a.stations.iloc[0].url}"
a.driver.get(url)
time.sleep(10)

In [13]:
soup=BeautifulSoup(a.driver.page_source, 'html.parser')

In [21]:
l = soup.find(attrs={'class': 'jss138'})

In [40]:
datetime.now().strftime("%Y-%m-%d %H:00:00")

'2021-11-25 21:00:00'

In [51]:
l = soup.find(attrs={'class': 'jss103'})
l.text[0:-2]

'28.0'

In [29]:
text = l.text
text

'WINDSPEED5.8km/hDIRECTION208°WAVESHEIGHT1.1mPERIOD10sDIRECTION162°Last data received 56 min. agoUpdated hourlyLIVE'

In [35]:
text = l.text
text = text.replace('WINDSPEED', '')
text = text.replace('km/hDIRECTION', ',')
text = text.replace('°WAVESHEIGHT', ',')
text = text.replace('mPERIOD', ',')
text = text.replace('sDIRECTION', ',')
text = text.replace('°Last data received ', ',')
text = text.replace(' ',',')
text = text.split(',')[0:7]

In [36]:
text[-1]

'min.'

In [ ]:
options = Options()
self.options = def_args_prefs(self.options, self.args, self.preferences)
self.driver = webdriver.Chrome(options=self.options)

self.db = GetData()
self.equip = equip
self.stations = self.db.get(table='stations', institution=['=', 'aqualink'], data_type=['=', self.equip])

self.url='https://aqualink.org/sites/'

In [34]:
p = PEBuoy()

In [35]:
p.get()

354.99750039428926
driver is running
chrome is still running, we can quit
driver has died

In [62]:
p.result

,date_time,wvdir,swvht,wvdir_sea,swvht_sea,wvdir_swell,swvht_swell,wspd,gust,wdir,station_id
0,2021-09-12 19:50:00,125,1.52,102,1.36,138,0.69,5.19,5.96,203,895

In [63]:
os.getenv('SE_PWD')

'Senhachata1!'