In [1]:
import time
import datetime
import urllib.request, json
import requests

import numpy as np
import pandas as pd
from datetime import datetime, timedelta
from bs4 import BeautifulSoup

from oceanoobsbrasil.db import GetData
%load_ext autoreload
%autoreload 2

In [2]:
from oceanoobsbrasil.others.zz_weather_warning import WeatherWarning

In [3]:
w = WeatherWarning()

In [31]:
response = requests.get(w.url)
soup = BeautifulSoup(response.text,'html.parser')

In [32]:
all = soup.find("div",  {"class": "field-item even"})
ps = all.find_all("p")

In [34]:
for p in ps:
    area = p.find("span", attrs={'style':'color:#ff0000;'})
    if area:
        number = .find('strong')
        number
        print(area)

<span style="color:#ff0000;"><strong>ÁREA DELTA</strong></span>

In [36]:
ps[4].find('strong')

In [20]:
areas = soup.find_all("span", attrs={'style':'color:#ff0000;'})

In [21]:
areas

In [48]:
n.get()

In [39]:
n.result

,date_time,lat,lon,wdir,wspd,swvht,tp,wvdir,pres,atmp,sst,dewpt,swvht_swell,wvdir_swell,institution,data_type
0,2021-10-17 19:00:00,4.0,-23.0,136.0,8.552896,NaN,NaN,NaN,NaN,25.5,NaN,NaN,NaN,NaN,ndbc,gts
1,2021-10-17 19:00:00,-1.5,-27.2,140.0,12.051808,NaN,NaN,NaN,1013.9,28.0,27.0,23.9,NaN,NaN,ndbc,gts
2,2021-10-17 19:00:00,-6.0,-10.0,131.0,16.328256,NaN,NaN,NaN,NaN,24.7,NaN,NaN,NaN,NaN,ndbc,gts
3,2021-10-17 19:00:00,-25.7,-48.1,120.0,14.967568,NaN,NaN,NaN,1017.5,20.0,22.0,18.4,NaN,NaN,ndbc,gts
4,2021-10-17 18:00:00,6.8,-53.2,110.0,7.969744,1.0,1.0,NaN,1013.5,30.0,30.0,24.6,1.0,90.0,ndbc,gts
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,2021-10-17 07:00:00,0.0,-10.0,163.0,13.023728,NaN,NaN,NaN,NaN,25.8,26.7,NaN,NaN,NaN,ndbc,gts
138,2021-10-17 07:00:00,-3.2,-28.9,110.0,18.077712,NaN,NaN,NaN,1013.9,26.0,26.0,23.2,NaN,NaN,ndbc,gts
139,2021-10-17 07:00:00,-6.0,-10.0,121.0,13.606880,NaN,NaN,NaN,NaN,24.4,NaN,NaN,NaN,NaN,ndbc,gts
140,2021-10-17 07:00:00,-17.3,-37.5,50.0,18.077712,1.0,3.0,NaN,1013.5,26.0,30.0,21.5,1.0,150.0,ndbc,gts
141,2021-10-17 07:00:00,-19.9,-13.2,110.0,27.019376,NaN,NaN,NaN,1025.9,20.0,20.0,18.4,NaN,NaN,ndbc,gts

In [31]:
n.result.wspd = pd.to_numeric(n.result.wspd, errors='coerce')
n.result.wspd.iloc[0]

5.8

In [30]:
n.result.wspd[n.result.wspd.notnull()]

0       5.8
1       4.1
3       4.6
4       9.8
6       7.2
       ...
122     6.7
123     9.3
124     7.0
125     9.3
126    13.9
Name: wspd, Length: 93, dtype: object

In [18]:
n.get()

TypeError: can't multiply sequence by non-int of type 'float'

In [10]:
db = Getdata()
df = db.get(table='data_no_stations', institution=['in', ['ndbc']], date_time=['>', '2021-09-12'])
df.shape

(139, 17)

In [11]:
type(df.shape)

tuple