In [2]:
import time
import datetime
import urllib.request, json
import requests

import numpy as np
import pandas as pd
from datetime import datetime, timedelta
from bs4 import BeautifulSoup

import re

from oceanoobsbrasil.db import GetData
%load_ext autoreload
%autoreload 2

In [40]:
from oceanoobsbrasil.others.weather_warning import WeatherWarning

In [57]:
w = WeatherWarning()

In [58]:
w.get()

In [52]:
hour = datetime.utcnow().hour//6*6
date_time = datetime.utcnow().replace(hour=hour)
date_time

datetime.datetime(2022, 8, 8, 0, 15, 17, 276818)

In [5]:
response = requests.get(w.url)
soup = BeautifulSoup(response.text,'html.parser')

In [6]:
all = soup.find("div",  {"class": "region region-content"})
ps = all.find_all("p")

In [7]:
regions_all = ['ALFA', 'BRAVO', 'CHARLIE', 'DELTA', 'ECHO', 'FOXTROT', 'GOLF', 'HOTEL', 'SUL', 'NORTE']
idxs= []
regions = []
for i in range(len(ps)):
    r = ps[i].find("span", {'style': "color:#ff0000;"})
    if r:
        for rr in regions_all:
            if rr in r.text:
                regions.append(rr)
                idxs.append(i)
                break
idxs.append(len(ps)-1)
idx = []
for i in range(len(idxs)-1):
    idx.append((idxs[i], idxs[i+1]))

In [14]:
params = []
for index, region in enumerate(regions):
    for i in range(idx[index][0]+1,idx[index][1]):
        r = ps[i].strong
        if r:
            param = {}
            param['region'] = region
            param['aviso_id'] = r.text.strip()
            param['aviso_id'] = re.findall('[0-9]+/[0-9]+', param['aviso_id'])[0]
            all = ps[i].text.strip()
            all = all.replace('\t', '').split('\n')
            param['type'] = all[1].replace('AVISO DE', '').strip()
            param['start_date'] = all[2].replace('EMITIDO ÀS', '').strip()
            param['description'] = all[3].strip()
            param['end_date'] = all[4].replace('VÁLIDO ATÉ', '').replace('.', '').strip()
            param['institution'] = 'CHM'
            params.append(param)
pd.DataFrame(params)

,region,aviso_id,type,start_date,description,end_date
0,ALFA,686/2022,VENTO FORTE/DURO,1330Z - DOM - 07/AGO/2022,ÁREA COSTEIRA ENTRE RIO GRANDE/RS E ITAJAÍ/SC ...,110000Z
1,ALFA,687/2022,MAR GROSSO/MUITO GROSSO,1330Z - DOM - 07/AGO/2022,ÁREA COSTEIRA ENTRE MOSTARDAS/RS E ITAJAÍ/SC A...,110000Z
2,ALFA,688/2022,RESSACA,1330Z - DOM - 07/AGO/2022,RESSACA ENTRE MOSTARDAS/RS E ITAJAÍ/SC A PARTI...,110000Z
3,BRAVO,686/2022,VENTO FORTE/DURO,1330Z - DOM - 07/AGO/2022,ÁREA COSTEIRA ENTRE RIO GRANDE/RS E ITAJAÍ/SC ...,110000Z
4,BRAVO,687/2022,MAR GROSSO/MUITO GROSSO,1330Z - DOM - 07/AGO/2022,ÁREA COSTEIRA ENTRE MOSTARDAS/RS E ITAJAÍ/SC A...,110000Z
5,BRAVO,689/2022,VENTO FORTE/DURO,1330Z - DOM - 07/AGO/2022,ÁREA COSTEIRA ENTRE ITAJAÍ/SC E SANTOS/SP ATÉ ...,111200Z
6,CHARLIE,686/2022,VENTO FORTE/DURO,1330Z - DOM - 07/AGO/2022,ÁREA COSTEIRA ENTRE RIO GRANDE/RS E ITAJAÍ/SC ...,110000Z
7,CHARLIE,687/2022,MAR GROSSO/MUITO GROSSO,1330Z - DOM - 07/AGO/2022,ÁREA COSTEIRA ENTRE MOSTARDAS/RS E ITAJAÍ/SC A...,110000Z
8,CHARLIE,689/2022,VENTO FORTE/DURO,1330Z - DOM - 07/AGO/2022,ÁREA COSTEIRA ENTRE ITAJAÍ/SC E SANTOS/SP ATÉ ...,111200Z
9,SUL,677/2022,VENTO MUITO FORTE/DURO,1230Z - QUI - 04/AGO/2022,"ÁREA OCEÂNICA 31S035W, 36S035W, 31S020W E 36S0...",080000Z
10,SUL,685/2022,MAR MUITO GROSSO,1230Z - SÁB - 06/AGO/2022,"ÁREA OCEÂNICA ENTRE 30S030W, 36S030W, 30S020W ...",081500Z

In [33]:
hour = datetime.now().hour
hour=datetime.now().hour//6*6
hour

21

In [32]:
hour = datetime.now().hour//6*6

18

In [39]:
hour = datetime.utcnow().hour//6*6
date_time = datetime.utcnow()
date_time.replace(hour=hour)
date_time.strftime(format=f'%Y-%m-%d %H:01:00')

'2022-08-08 00:01:00'

In [39]:
n.result

,date_time,lat,lon,wdir,wspd,swvht,tp,wvdir,pres,atmp,sst,dewpt,swvht_swell,wvdir_swell,institution,data_type
0,2021-10-17 19:00:00,4.0,-23.0,136.0,8.552896,NaN,NaN,NaN,NaN,25.5,NaN,NaN,NaN,NaN,ndbc,gts
1,2021-10-17 19:00:00,-1.5,-27.2,140.0,12.051808,NaN,NaN,NaN,1013.9,28.0,27.0,23.9,NaN,NaN,ndbc,gts
2,2021-10-17 19:00:00,-6.0,-10.0,131.0,16.328256,NaN,NaN,NaN,NaN,24.7,NaN,NaN,NaN,NaN,ndbc,gts
3,2021-10-17 19:00:00,-25.7,-48.1,120.0,14.967568,NaN,NaN,NaN,1017.5,20.0,22.0,18.4,NaN,NaN,ndbc,gts
4,2021-10-17 18:00:00,6.8,-53.2,110.0,7.969744,1.0,1.0,NaN,1013.5,30.0,30.0,24.6,1.0,90.0,ndbc,gts
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,2021-10-17 07:00:00,0.0,-10.0,163.0,13.023728,NaN,NaN,NaN,NaN,25.8,26.7,NaN,NaN,NaN,ndbc,gts
138,2021-10-17 07:00:00,-3.2,-28.9,110.0,18.077712,NaN,NaN,NaN,1013.9,26.0,26.0,23.2,NaN,NaN,ndbc,gts
139,2021-10-17 07:00:00,-6.0,-10.0,121.0,13.606880,NaN,NaN,NaN,NaN,24.4,NaN,NaN,NaN,NaN,ndbc,gts
140,2021-10-17 07:00:00,-17.3,-37.5,50.0,18.077712,1.0,3.0,NaN,1013.5,26.0,30.0,21.5,1.0,150.0,ndbc,gts
141,2021-10-17 07:00:00,-19.9,-13.2,110.0,27.019376,NaN,NaN,NaN,1025.9,20.0,20.0,18.4,NaN,NaN,ndbc,gts

In [31]:
n.result.wspd = pd.to_numeric(n.result.wspd, errors='coerce')
n.result.wspd.iloc[0]

5.8

In [30]:
n.result.wspd[n.result.wspd.notnull()]

0       5.8
1       4.1
3       4.6
4       9.8
6       7.2
       ...
122     6.7
123     9.3
124     7.0
125     9.3
126    13.9
Name: wspd, Length: 93, dtype: object

In [18]:
n.get()

TypeError: can't multiply sequence by non-int of type 'float'

In [10]:
db = Getdata()
df = db.get(table='data_no_stations', institution=['in', ['ndbc']], date_time=['>', '2021-09-12'])
df.shape

(139, 17)

In [11]:
type(df.shape)

tuple