In [1]:
import time

import requests
import io

import numpy as np

import pandas as pd
from datetime import datetime, timedelta
from oceanoobsbrasil.db import GetData

In [2]:
from oceanoobsbrasil.weather_stations.metar import Metar
%load_ext autoreload
%autoreload 2

In [3]:
bd = GetData()

In [4]:
m = Metar()

In [5]:
m.get()

[1131 1076 1024 1025 1216 1026 1027 1028 1056 1058 1061 1064 1070 1073
 1074 1097 1115 1116 1117 1118 1119 1120 1122 1123 1124 1125 1126 1127
 1128 1129 1130 1132 1133 1134 1136 1137 1138 1139 1140  990  992  996
 1006 1079 1084 1085 1087 1141 1142 1143 1144 1145 1147 1148 1149 1151
 1035 1037 1038 1040 1047 1052 1053]
ok

In [11]:
m.get(save_bd=True)

      station_id  name         date_time  atmp  dewpt     rh   wdir  wspd
0            990  SBAF  2021-10-09 00:00  21.0   14.0  64.26  150.0   7.0
1            990  SBAF  2021-10-09 01:00  21.0   15.0  68.55  140.0   4.0
2            990  SBAF  2021-10-09 02:00  21.0   14.0  64.26  140.0   5.0
3            990  SBAF  2021-10-09 03:00  21.0   15.0  68.55  130.0   6.0
4            990  SBAF  2021-10-09 04:00  20.0   15.0  72.92  150.0   4.0
...          ...   ...               ...   ...    ...    ...    ...   ...
1649        1097  SBVT  2021-10-11 20:00  20.0   19.0  93.97  120.0  10.0
1650        1097  SBVT  2021-10-11 21:00   NaN    NaN    NaN  130.0  10.0
1651        1097  SBVT  2021-10-11 22:00  20.0   18.0  88.26  130.0  14.0
1652        1097  SBVT  2021-10-11 22:25  20.0   19.0  93.97  140.0  13.0
1653        1097  SBVT  2021-10-11 23:00  20.0   19.0  93.97  130.0  12.0

[1654 rows x 8 columns]

In [107]:
m.result

        id  name         date_time  atmp  dewpt     rh   wdir  wspd  pres
0      990  SBAF  2021-09-27 10:00  21.0   19.0  88.34  230.0   1.0   NaN
1      990  SBAF  2021-09-27 11:00  23.0   19.0  78.19   20.0   2.0   NaN
2      990  SBAF  2021-09-27 12:00  25.0   18.0  65.12  230.0   3.0   NaN
3      990  SBAF  2021-09-27 13:00  25.0   18.0  65.12  230.0   7.0   NaN
4      990  SBAF  2021-09-27 14:00  26.0   19.0  65.33  240.0   8.0   NaN
...    ...   ...               ...   ...    ...    ...    ...   ...   ...
5864  1098  SBYS  2021-09-29 19:00  33.0   13.0  29.72  210.0  12.0   NaN
5865  1098  SBYS  2021-09-29 20:00  31.0   14.0  35.53  190.0  10.0   NaN
5866  1098  SBYS  2021-09-29 21:00  26.0   18.0  61.36  160.0   4.0   NaN
5867  1098  SBYS  2021-09-29 22:00  25.0   20.0  73.78  100.0   3.0   NaN
5868  1098  SBYS  2021-09-29 23:00  23.0   18.0  73.44  240.0   3.0   NaN

[5869 rows x 9 columns]

In [104]:
m.stations[['id', 'name']].merge(m.df, on='name')

KeyError: 'name'

In [4]:
bd.get(table='stations', institution=['=', 'simcosta'], data_type=['=', 'buoy'])

    id name         lat         lon data_type institution url
0  897  RJ3    -22.9831    -43.1745      buoy    simcosta   3
1  898  RS2    -32.1346 -52098.0000      buoy    simcosta   6
2  899  RS5 -32296.0000    -52.0239      buoy    simcosta  10
3  900  RJ4    -22.9715    -43.1522      buoy    simcosta  12
4  901  RS3 -32195.0000    -52.0794      buoy    simcosta  13
5  902  RS4    -32.2454    -52.0954      buoy    simcosta  14
6  903  BA1    -12.9895    -37.4582      buoy    simcosta  15

In [40]:
(datetime.utcnow()- timedelta(days=3)).year

2021

In [72]:
url_address = "https://mesonet.agron.iastate.edu/cgi-bin/request/asos.py?station=SBAA&station=SBAF&station=SBAM&station=SBAN&station=SBAQ&station=SBAR&station=SBAS&station=SBAT&station=SBAU&station=SBAX&station=SBBA&station=SBBC&station=SBBE&station=SBBG&station=SBBH&station=SBBI&station=SBBQ&station=SBBR&station=SBBT&station=SBBU&station=SBBV&station=SBBW&station=SBBZ&station=SBCA&station=SBCB&station=SBCC&station=SBCF&station=SBCG&station=SBCH&station=SBCI&station=SBCJ&station=SBCM&station=SBCO&station=SBCP&station=SBCR&station=SBCT&station=SBCV&station=SBCX&station=SBCY&station=SBCZ&station=SBDN&station=SBEG&station=SBEK&station=SBES&station=SBFI&station=SBFL&station=SBFN&station=SBFS&station=SBFZ&station=SBGA&station=SBGL&station=SBGM&station=SBGO&station=SBGR&station=SBGU&station=SBGW&station=SBHT&station=SBIC&station=SBIH&station=SBIL&station=SBIP&station=SBIT&station=SBIZ&station=SBJD&station=SBJE&station=SBJF&station=SBJP&station=SBJR&station=SBJU&station=SBJV&station=SBKG&station=SBKP&station=SBLB&station=SBLE&station=SBLN&station=SBLO&station=SBLP&station=SBLS&station=SBMA&station=SBMD&station=SBME&station=SBMG&station=SBMK&station=SBML&station=SBMN&station=SBMO&station=SBMQ&station=SBMS&station=SBMT&station=SBMY&station=SBMZ&station=SBNF&station=SBNM&station=SBNT&station=SBOI&station=SBPA&station=SBPB&station=SBPC&station=SBPF&station=SBPG&station=SBPJ&station=SBPK&station=SBPL&station=SBPN&station=SBPP&station=SBPR&station=SBPS&station=SBPV&station=SBQV&station=SBRB&station=SBRF&station=SBRG&station=SBRJ&station=SBRP&station=SBRQ&station=SBRS&station=SBSA&station=SBSC&station=SBSG&station=SBSJ&station=SBSL&station=SBSM&station=SBSN&station=SBSP&station=SBSR&station=SBST&station=SBSV&station=SBSY&station=SBTA&station=SBTC&station=SBTE&station=SBTF&station=SBTK&station=SBTT&station=SBTU&station=SBUA&station=SBUF&station=SBUG&station=SBUI&station=SBUL&station=SBUP&station=SBUR&station=SBUY&station=SBVH&station=SBVT&station=SBXG&station=SBXV&station=SBYA&station=SBYS&data=tmpc&data=dwpc&data=relh&data=drct&data=sknt&data=mslp&year1=2021&month1=9&day1=29&year2=2021&month2=9&day2=29&tz=Etc%2FUTC&format=onlycomma&latlon=no&elev=no&missing=empty&trace=empty&direct=no&report_type=1&report_type=2"

In [75]:
import requests
import pandas as pd
import io

urlData = requests.get(url_address).content
rawData = pd.read_csv(io.StringIO(urlData.decode('utf-8')))
columns=['atmp', 'dewpt', 'rh', 'wdir', 'wspd', 'pres']
# rawData.columns = columns
rawData

     station             valid  tmpc  dwpc   relh   drct  sknt  mslp
0       SBBR  2021-09-29 00:00  27.0  12.0  39.30   80.0   5.0   NaN
1       SBIL  2021-09-29 00:00  25.0  21.0  78.48  110.0   6.0   NaN
2       SBRF  2021-09-29 00:00  26.0  21.0  73.95  160.0  14.0   NaN
3       SBMQ  2021-09-29 00:00  31.0  25.0  70.45   60.0   8.0   NaN
4       SBAF  2021-09-29 00:00  24.0  20.0  78.34  320.0   5.0   NaN
...      ...               ...   ...   ...    ...    ...   ...   ...
1967    SBVT  2021-09-29 23:00  24.0  21.0  83.32   30.0  10.0   NaN
1968    SBYS  2021-09-29 23:00  23.0  18.0  73.44  240.0   3.0   NaN
1969    SBSG  2021-09-29 23:00  25.0  23.0  88.67  170.0   3.0   NaN
1970    SBCF  2021-09-29 23:35  21.0  17.0  77.90  130.0  15.0   NaN
1971    SBFN  2021-09-29 23:59  26.0  24.0  88.75  120.0   8.0   NaN

[1972 rows x 8 columns]

In [31]:
first = rawData.groupby('station').first().reset_index()
first = first[['station', 'lat', 'lon']]
first['institution'] = 'metar'
first['data_type'] = 'meteorological_station'
first.index = list(range(990,990+109))
first = first.reset_index()
first.columns = ['id', 'name', 'lat', 'lon', 'institution', 'data_type']
first

       id  name      lat      lon institution               data_type
0     990  SBAF -22.8751 -43.3847       metar  meteorological_station
1     991  SBAN -16.2292 -48.9643       metar  meteorological_station
2     992  SBAR -10.9840 -37.0703       metar  meteorological_station
3     993  SBAT  -9.8661 -56.1062       metar  meteorological_station
4     994  SBAU -21.1413 -50.4247       metar  meteorological_station
..    ...   ...      ...      ...         ...                     ...
104  1094  SBUR -19.7833 -47.9667       metar  meteorological_station
105  1095  SBUY  -4.8833 -65.3563       metar  meteorological_station
106  1096  SBVH -12.6944 -60.0983       metar  meteorological_station
107  1097  SBVT -20.2581 -40.2864       metar  meteorological_station
108  1098  SBYS -21.9846 -47.3348       metar  meteorological_station

[109 rows x 6 columns]

In [52]:
rawData['date_time'] = pd.to_datetime(rawData.valid)

In [56]:
rawData.drop(columns=['ice_accretion_1hr','ice_accretion_3hr','ice_accretion_6hr','peak_wind_gust','peak_wind_drct','peak_wind_time'], inplace=True)

In [59]:
rawData.drop(columns=['skyc3','skyc4','skyl1','skyl2','skyl3','skyl4','wxcodes'], inplace=True)

,station,valid,tmpc,dwpc,relh,drct,sknt,mslp,p01m,vsby,gust
0,SBBR,2021-09-29 00:00,27.0,12.0,39.30,80.0,5.0,NaN,0.0,6.21,NaN
1,SBIL,2021-09-29 00:00,25.0,21.0,78.48,110.0,6.0,NaN,0.0,6.21,NaN
2,SBRF,2021-09-29 00:00,26.0,21.0,73.95,160.0,14.0,NaN,0.0,6.21,NaN
3,SBMQ,2021-09-29 00:00,31.0,25.0,70.45,60.0,8.0,NaN,0.0,6.21,NaN
4,SBAF,2021-09-29 00:00,24.0,20.0,78.34,320.0,5.0,NaN,0.0,6.21,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1967,SBVT,2021-09-29 23:00,24.0,21.0,83.32,30.0,10.0,NaN,0.0,6.21,NaN
1968,SBYS,2021-09-29 23:00,23.0,18.0,73.44,240.0,3.0,NaN,0.0,6.21,NaN
1969,SBSG,2021-09-29 23:00,25.0,23.0,88.67,170.0,3.0,NaN,0.0,6.21,NaN
1970,SBCF,2021-09-29 23:35,21.0,17.0,77.90,130.0,15.0,NaN,0.0,4.97,30.0
1971,SBFN,2021-09-29 23:59,26.0,24.0,88.75,120.0,8.0,NaN,0.0,6.21,NaN

In [33]:
bd.post(table='stations', df=first)

In [43]:
x = bd.get(table='stations', institution=['=', 'metar'], data_type=['=', 'meteorological_station'])

In [46]:
x[['id', 'name']].merge(first, on='name')

     id_x  name  id_y      lat      lon institution               data_type
0     990  SBAF   990 -22.8751 -43.3847       metar  meteorological_station
1     991  SBAN   991 -16.2292 -48.9643       metar  meteorological_station
2     992  SBAR   992 -10.9840 -37.0703       metar  meteorological_station
3     993  SBAT   993  -9.8661 -56.1062       metar  meteorological_station
4     994  SBAU   994 -21.1413 -50.4247       metar  meteorological_station
..    ...   ...   ...      ...      ...         ...                     ...
104  1094  SBUR  1094 -19.7833 -47.9667       metar  meteorological_station
105  1095  SBUY  1095  -4.8833 -65.3563       metar  meteorological_station
106  1096  SBVH  1096 -12.6944 -60.0983       metar  meteorological_station
107  1097  SBVT  1097 -20.2581 -40.2864       metar  meteorological_station
108  1098  SBYS  1098 -21.9846 -47.3348       metar  meteorological_station

[109 rows x 7 columns]

In [28]:
first['id'] = first['index']

In [29]:
first.drop(columns=['index'], inplace=True)
first.columns = ['']

     index station      lat      lon institution               data_type    id
0      990    SBAF -22.8751 -43.3847       metar  meteorological_station   990
1      991    SBAN -16.2292 -48.9643       metar  meteorological_station   991
2      992    SBAR -10.9840 -37.0703       metar  meteorological_station   992
3      993    SBAT  -9.8661 -56.1062       metar  meteorological_station   993
4      994    SBAU -21.1413 -50.4247       metar  meteorological_station   994
..     ...     ...      ...      ...         ...                     ...   ...
104   1094    SBUR -19.7833 -47.9667       metar  meteorological_station  1094
105   1095    SBUY  -4.8833 -65.3563       metar  meteorological_station  1095
106   1096    SBVH -12.6944 -60.0983       metar  meteorological_station  1096
107   1097    SBVT -20.2581 -40.2864       metar  meteorological_station  1097
108   1098    SBYS -21.9846 -47.3348       metar  meteorological_station  1098

[109 rows x 7 columns]

In [13]:
rawData.groupby('station')['lon'].

In [6]:
with urllib.request.urlopen(url_address) as url:
                data1 = json.loads(url.read().decode())
                self.data1 = pd.DataFrame(data1)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [8]:
df = bd.get(table='data_stations', station_id=['in', [902]])

In [9]:
df.shape

(94, 22)

In [7]:
bd.post(table='data_stations', df=df)

DELETE FROM data_stations WHERE true AND station_id in (902) AND date_time >= '2021-09-06 00:21:00'

In [9]:
import time
import datetime
import operator
import urllib.request, json

import numpy as np
from oceanoobsbrasil.get_simcosta import Simcosta
from oceanoobsbrasil.get_simcosta import SimcostaTide

In [14]:
s = SimcostaTide()

In [ ]:
s.get()

Nao ha dados para essa boia
Nao ha dados para essa boia
Nao ha dados para essa boia
Nao ha dados para essa boia

In [52]:
s = Simcosta()

In [53]:
s.get()

id                  897
name                RJ3
lat            -22.9831
lon            -43.1745
data_type          buoy
institution    simcosta
url                   3
Name: 0, dtype: object
http://simcosta.furg.br/api/metereo_data?boiaID=3&type=json&time1=1631069870&time2=1631156270&params=Average_wind_direction_N,Last_sampling_interval_gust_speed,Average_Dew_Point,Average_Pressure,Solar_Radiation_Average_Reading,Average_Air_Temperature,Instantaneous_Humidity,Average_Humidity,Average_wind_speed
http://simcosta.furg.br/api/oceanic_data?boiaID=3&type=json&time1=1631069870&time2=1631156270&params=H10,HAvg,Hsig_Significant_Wave_Height_m,HM0,Mean_Wave_Direction_deg,Hmax_Maximum_Wave_Height_m,ZCN,Tp5,TAvg,T10,Tsig,Mean_Spread_deg,TP_Peak_Period_seconds,Average_Salinity,Average_Temperature_deg_C,Average_Temperature_C,Average_CDOM_QSDE,Average_Chlorophyll_Fluorescence,Average_Dissolved_Oxygen,Average_Nephelometric_Turbidity_Unit_NTU,Cell_Average_Direction_N,Cell_Average_Magnitude_mm_s
Empty DataFrame
Columns: []
Index: []
Nao ha dados para essa boia
id                  898
name                RS2
lat            -32.1346
lon            -52098.0
data_type          buoy
institution    simcosta
url                   6
Name: 1, dtype: object
http://simcosta.furg.br/api/metereo_data?boiaID=6&type=json&time1=1631069870&time2=1631156270&params=Average_wind_direction_N,Last_sampling_interval_gust_speed,Average_Dew_Point,Average_Pressure,Solar_Radiation_Average_Reading,Average_Air_Temperature,Instantaneous_Humidity,Average_Humidity,Average_wind_speed
http://simcosta.furg.br/api/oceanic_data?boiaID=6&type=json&time1=1631069870&time2=1631156270&params=H10,HAvg,Hsig_Significant_Wave_Height_m,HM0,Mean_Wave_Direction_deg,Hmax_Maximum_Wave_Height_m,ZCN,Tp5,TAvg,T10,Tsig,Mean_Spread_deg,TP_Peak_Period_seconds,Average_Salinity,Average_Temperature_deg_C,Average_Temperature_C,Average_CDOM_QSDE,Average_Chlorophyll_Fluorescence,Average_Dissolved_Oxygen,Average_Nephelometric_Turbidity_Unit_NTU,Cell_Average_Direction_N,Cell_Average_Magnitude_mm_s
    YEAR MONTH DAY HOUR MINUTE SECOND Avg_Air_Press Avg_Air_Tmp   Hmt Avg_Hmt  \
0   2021     9   8   13     21     00       1008.25       15.90  None  100.00
1   2021     9   8   13     51     00       1006.61       15.50  None  100.00
2   2021     9   8   15     21     00       1005.88       16.10  None  100.00
3   2021     9   8   15     51     00       1005.52       16.80  None   99.80
4   2021     9   8   16     21     00       1003.89       16.60  None   99.80
5   2021     9   8   16     51     00       1005.85       16.80  None   99.80
6   2021     9   8   17     21     00       1006.56       16.80  None   99.80
7   2021     9   8   17     51     00       1006.43       16.20  None  100.00
8   2021     9   8   18     21     00       1005.64       16.00  None  100.00
9   2021     9   8   18     51     00       1005.77       16.00  None  100.00
10  2021     9   8   19     21     00       1005.86       16.40  None  100.00
11  2021     9   8   19     51     00       1005.69       16.50  None  100.00
12  2021     9   8   20     21     00       1005.95       16.50  None  100.00
13  2021     9   8   20     51     00       1005.79       16.40  None  100.00
14  2021     9   8   21     21     00       1005.81       16.30  None  100.00
15  2021     9   8   21     51     00       1006.31       16.40  None  100.00
16  2021     9   8   22     21     00       1006.60       16.60  None  100.00
17  2021     9   8   22     51     00       1006.72       16.80  None  100.00
18  2021     9   8   23     21     00       1006.89       17.20  None  100.00
19  2021     9   8   23     51     00       1006.85       17.30  None  100.00
20  2021     9   9    0     21     00       1006.84       17.30  None  100.00
21  2021     9   9    0     51     00       1007.05       17.30  None  100.00
22  2021     9   9    1     21     00       1007.23       17.50  None  100.00
23  2021     9   9    1     51     00       1007.52       17.40  None  100.00
24  2021     9   9    2     21     00       1007.47       17.70  None  100.00
25  2021     9   9    2     51     00       1007.56       18.20  None  100.00

    ...   H10  HAvg  Tsig   CDOM  YEAR MONTH DAY HOUR MINUTE SECOND
0   ...  0.19  0.10  2.30  41.99  2021     9   8   13     21      0
1   ...  0.20  0.10  2.30  41.76  2021     9   8   13     51      0
2   ...  0.20  0.11  2.80  42.53  2021     9   8   15     21      0
3   ...  0.25  0.13  3.00  42.45  2021     9   8   15     51      0
4   ...  0.22  0.12  2.70  40.34  2021     9   8   16     21      0
5   ...  0.17  0.09  2.90  37.75  2021     9   8   16     51      0
6   ...  0.14  0.07  3.00  35.23  2021     9   8   17     21      0
7   ...  0.13  0.07  2.90  32.80  2021     9   8   17     51      0
8   ...  0.13  0.07  2.60  32.41  2021     9   8   18     21      0
9   ...  0.11  0.06  2.60  32.23  2021     9   8   18     51      0
10  ...  0.10  0.05  3.00  31.82  2021     9   8   19     21      0
11  ...  0.09  0.05  2.60  32.84  2021     9   8   19     51      0
12  ...  0.07  0.04  4.50  33.04  2021     9   8   20     21      0
13  ...  0.07  0.03  5.10  31.70  2021     9   8   20     51      0
14  ...  0.07  0.04  6.60  31.63  2021     9   8   21     21      0
15  ...  0.08  0.04  6.50  29.66  2021     9   8   21     51      0
16  ...  0.10  0.05  6.40  24.38  2021     9   8   22     21      0
17  ...  0.10  0.06  6.00  20.09  2021     9   8   22     51      0
18  ...  0.09  0.04  5.70  18.88  2021     9   8   23     21      0
19  ...  0.15  0.09  5.70  17.11  2021     9   8   23     51      0
20  ...  0.17  0.08  5.60  16.48  2021     9   9    0     21      0
21  ...  0.11  0.06  5.60  14.34  2021     9   9    0     51      0
22  ...  0.07  0.03  5.50  13.98  2021     9   9    1     21      0
23  ...  0.06  0.03  5.40  15.40  2021     9   9    1     51      0
24  ...  0.04  0.02  1.80  16.30  2021     9   9    2     21      0
25  ...  0.05  0.03  5.70  12.89  2021     9   9    2     51      0

[26 rows x 49 columns]
ok1
DELETE FROM data_stations WHERE true AND station_id in (898) AND date_time >= '2021-09-08 13:21:00'
ok2
id                  899
name                RS5
lat            -32296.0
lon            -52.0239
data_type          buoy
institution    simcosta
url                  10
Name: 2, dtype: object
http://simcosta.furg.br/api/metereo_data?boiaID=10&type=json&time1=1631069870&time2=1631156270&params=Average_wind_direction_N,Last_sampling_interval_gust_speed,Average_Dew_Point,Average_Pressure,Solar_Radiation_Average_Reading,Average_Air_Temperature,Instantaneous_Humidity,Average_Humidity,Average_wind_speed
http://simcosta.furg.br/api/oceanic_data?boiaID=10&type=json&time1=1631069870&time2=1631156270&params=H10,HAvg,Hsig_Significant_Wave_Height_m,HM0,Mean_Wave_Direction_deg,Hmax_Maximum_Wave_Height_m,ZCN,Tp5,TAvg,T10,Tsig,Mean_Spread_deg,TP_Peak_Period_seconds,Average_Salinity,Average_Temperature_deg_C,Average_Temperature_C,Average_CDOM_QSDE,Average_Chlorophyll_Fluorescence,Average_Dissolved_Oxygen,Average_Nephelometric_Turbidity_Unit_NTU,Cell_Average_Direction_N,Cell_Average_Magnitude_mm_s
Empty DataFrame
Columns: []
Index: []
Nao ha dados para essa boia
id                  900
name                RJ4
lat            -22.9715
lon            -43.1522
data_type          buoy
institution    simcosta
url                  12
Name: 3, dtype: object
http://simcosta.furg.br/api/metereo_data?boiaID=12&type=json&time1=1631069870&time2=1631156270&params=Average_wind_direction_N,Last_sampling_interval_gust_speed,Average_Dew_Point,Average_Pressure,Solar_Radiation_Average_Reading,Average_Air_Temperature,Instantaneous_Humidity,Average_Humidity,Average_wind_speed
http://simcosta.furg.br/api/oceanic_data?boiaID=12&type=json&time1=1631069870&time2=1631156270&params=H10,HAvg,Hsig_Significant_Wave_Height_m,HM0,Mean_Wave_Direction_deg,Hmax_Maximum_Wave_Height_m,ZCN,Tp5,TAvg,T10,Tsig,Mean_Spread_deg,TP_Peak_Period_seconds,Average_Salinity,Average_Temperature_deg_C,Average_Temperature_C,Average_CDOM_QSDE,Average_Chlorophyll_Fluorescence,Average_Dissolved_Oxygen,Average_Nephelometric_Turbidity_Unit_NTU,Cell_Average_Direction_N,Cell_Average_Magnitude_mm_s
    YEAR MONTH DAY HOUR MINUTE SECOND Avg_Air_Press Avg_Air_Tmp    Hmt  \
0   2021     9   8    3     21     00       1018.53        None  45.20
1   2021     9   8    3     51     00       1018.39        None  44.30
2   2021     9   8    4     51     00       1017.51        None  44.00
3   2021     9   8    5     21     00       1017.30        None  44.60
4   2021     9   8    5     51     00       1016.99        None  43.80
5   2021     9   8    6     51     00       1015.98        None  43.70
6   2021     9   8    7     21     00       1015.71        None  44.60
7   2021     9   8    7     51     00       1015.55        None  43.60
8   2021     9   8    8     21     00       1015.67        None  44.50
9   2021     9   8    9     21     00       1016.01        None  44.50
10  2021     9   8    9     51     00       1016.16        None  43.70
11  2021     9   8   10     21     00       1016.07        None  45.40
12  2021     9   8   10     51     00       1016.14        None  46.60
13  2021     9   8   11     21     00       1016.19        None  48.60
14  2021     9   8   12     21     00       1016.44        None  52.40
15  2021     9   8   12     51     00       1016.37        None  53.60
16  2021     9   8   13     21     00       1016.25        None  54.70
17  2021     9   8   13     51     00       1015.75        None  54.90
18  2021     9   8   14     21     00       1015.38        None  53.50
19  2021     9   8   14     51     00       1014.72        None  52.70
20  2021     9   8   15     21     00       1013.94        None  52.10
21  2021     9   8   15     51     00       1013.20        None  51.60
22  2021     9   8   16     21     00       1012.51        None  51.30
23  2021     9   8   16     51     00       1011.82        None  50.90
24  2021     9   8   17     51     00       1010.51        None  50.60
25  2021     9   8   18     51     00       1009.28        None  51.50
26  2021     9   8   19     21     00       1008.89        None  51.90
27  2021     9   8   19     51     00       1008.60        None  51.90
28  2021     9   8   20     21     00       1008.35        None  51.80
29  2021     9   8   21     21     00       1009.32        None  50.80
30  2021     9   8   22     21     00       1010.30        None  48.20
31  2021     9   9    0     21     00       1011.18        None  46.20
32  2021     9   9    1     21     00       1010.84        None  45.90
33  2021     9   9    1     51     00       1010.79        None  45.30

   Avg_Hmt  ...   H10  HAvg  Tsig  CDOM  YEAR MONTH DAY HOUR MINUTE SECOND
0     None  ...  1.88  0.93  7.70  NULL  2021     9   8    3     21     40
1     None  ...  1.75  0.92  7.50  NULL  2021     9   8    3     51     40
2     None  ...  1.94  0.96  7.80  NULL  2021     9   8    4     51     40
3     None  ...  1.80  0.95  8.60  NULL  2021     9   8    5     21     40
4     None  ...  2.01  0.99  8.80  NULL  2021     9   8    5     51     40
5     None  ...  1.86  1.02  8.70  NULL  2021     9   8    6     51     40
6     None  ...  1.82  0.97  8.20  NULL  2021     9   8    7     21     40
7     None  ...  1.95  0.95  8.60  NULL  2021     9   8    7     51     40
8     None  ...  1.74  0.95  8.30  NULL  2021     9   8    8     21     40
9     None  ...  1.87  1.02  9.00  NULL  2021     9   8    9     21     40
10    None  ...  1.95  0.91  8.50  NULL  2021     9   8    9     51     40
11    None  ...  1.65  0.87  7.40  NULL  2021     9   8   10     21     40
12    None  ...  1.91  0.96  7.90  NULL  2021     9   8   10     51     40
13    None  ...  1.64  0.87  8.80  NULL  2021     9   8   11     21     40
14    None  ...  1.78  0.96  8.40  NULL  2021     9   8   12     21     40
15    None  ...  1.81  0.97  8.50  NULL  2021     9   8   12     51     40
16    None  ...  1.90  0.98  7.90  NULL  2021     9   8   13     21     40
17    None  ...  1.81  0.92  6.90  NULL  2021     9   8   13     51     40
18    None  ...  1.83  0.98  7.80  NULL  2021     9   8   14     21     40
19    None  ...  1.70  0.89  6.90  NULL  2021     9   8   14     51     40
20    None  ...  1.99  0.95  6.90  NULL  2021     9   8   15     21     40
21    None  ...  2.03  1.07  7.60  NULL  2021     9   8   15     51     40
22    None  ...  1.97  1.06  6.80  NULL  2021     9   8   16     21     40
23    None  ...  2.05  1.08  7.20  NULL  2021     9   8   16     51     40
24    None  ...  2.02  1.12  6.90  NULL  2021     9   8   17     51     40
25    None  ...  1.84  1.03  7.10  NULL  2021     9   8   18     51     40
26    None  ...  2.03  1.11  7.70  NULL  2021     9   8   19     21     40
27    None  ...  1.99  0.96  7.60  NULL  2021     9   8   19     51     40
28    None  ...  1.84  1.02  7.70  NULL  2021     9   8   20     21     40
29    None  ...  1.95  0.98  8.10  NULL  2021     9   8   21     21     40
30    None  ...  1.97  1.06  7.80  NULL  2021     9   8   22     21     40
31    None  ...  1.90  0.99  8.90  NULL  2021     9   9    0     21     40
32    None  ...  1.96  1.01  8.00  NULL  2021     9   9    1     21     40
33    None  ...  1.87  0.95  7.60  NULL  2021     9   9    1     51     40

[34 rows x 49 columns]
ok1
DELETE FROM data_stations WHERE true AND station_id in (900) AND date_time >= '2021-09-08 03:21:00'
ok2
id                  901
name                RS3
lat            -32195.0
lon            -52.0794
data_type          buoy
institution    simcosta
url                  13
Name: 4, dtype: object
http://simcosta.furg.br/api/metereo_data?boiaID=13&type=json&time1=1631069870&time2=1631156270&params=Average_wind_direction_N,Last_sampling_interval_gust_speed,Average_Dew_Point,Average_Pressure,Solar_Radiation_Average_Reading,Average_Air_Temperature,Instantaneous_Humidity,Average_Humidity,Average_wind_speed
http://simcosta.furg.br/api/oceanic_data?boiaID=13&type=json&time1=1631069870&time2=1631156270&params=H10,HAvg,Hsig_Significant_Wave_Height_m,HM0,Mean_Wave_Direction_deg,Hmax_Maximum_Wave_Height_m,ZCN,Tp5,TAvg,T10,Tsig,Mean_Spread_deg,TP_Peak_Period_seconds,Average_Salinity,Average_Temperature_deg_C,Average_Temperature_C,Average_CDOM_QSDE,Average_Chlorophyll_Fluorescence,Average_Dissolved_Oxygen,Average_Nephelometric_Turbidity_Unit_NTU,Cell_Average_Direction_N,Cell_Average_Magnitude_mm_s
Empty DataFrame
Columns: []
Index: []
Nao ha dados para essa boia
id                  902
name                RS4
lat            -32.2454
lon            -52.0954
data_type          buoy
institution    simcosta
url                  14
Name: 5, dtype: object
http://simcosta.furg.br/api/metereo_data?boiaID=14&type=json&time1=1631069870&time2=1631156270&params=Average_wind_direction_N,Last_sampling_interval_gust_speed,Average_Dew_Point,Average_Pressure,Solar_Radiation_Average_Reading,Average_Air_Temperature,Instantaneous_Humidity,Average_Humidity,Average_wind_speed
http://simcosta.furg.br/api/oceanic_data?boiaID=14&type=json&time1=1631069870&time2=1631156270&params=H10,HAvg,Hsig_Significant_Wave_Height_m,HM0,Mean_Wave_Direction_deg,Hmax_Maximum_Wave_Height_m,ZCN,Tp5,TAvg,T10,Tsig,Mean_Spread_deg,TP_Peak_Period_seconds,Average_Salinity,Average_Temperature_deg_C,Average_Temperature_C,Average_CDOM_QSDE,Average_Chlorophyll_Fluorescence,Average_Dissolved_Oxygen,Average_Nephelometric_Turbidity_Unit_NTU,Cell_Average_Direction_N,Cell_Average_Magnitude_mm_s
   YEAR MONTH DAY HOUR MINUTE SECOND Avg_Air_Press Avg_Air_Tmp   Hmt Avg_Hmt  \
0  2021     9   8    5     21     00       1012.82       14.90  None    None
1  2021     9   8    5     51     00       1011.70       15.00  None    None
2  2021     9   8    6     21     00       1010.18       15.10  None    None
3  2021     9   8    6     51     00       1010.23       15.10  None    None
4  2021     9   8    7     21     00       1010.55       15.10  None    None
5  2021     9   8    7     51     00       1010.78       15.00  None    None
6  2021     9   8   12     21     00       1009.75       15.40  None    None
7  2021     9   8   12     51     00       1009.74       15.40  None    None
8  2021     9   8   13     51     00       1007.53       15.20  None    None

   ...   H10  HAvg  Tsig   CDOM  YEAR MONTH DAY HOUR MINUTE SECOND
0  ...  2.18  1.20  7.20  33.22  2021     9   8    5     21      0
1  ...  2.22  1.24  7.50  38.73  2021     9   8    5     51      0
2  ...  2.17  1.20  7.30  37.71  2021     9   8    6     21      0
3  ...  2.53  1.27  7.60  34.29  2021     9   8    6     51      0
4  ...  2.23  1.17  7.40  35.51  2021     9   8    7     21      0
5  ...  2.29  1.31  7.50  35.94  2021     9   8    7     51      0
6  ...  2.44  1.32  7.80  49.74  2021     9   8   12     21      0
7  ...  2.20  1.21  7.50  48.19  2021     9   8   12     51      0
8  ...  2.53  1.35  7.80  55.47  2021     9   8   13     51      0

[9 rows x 49 columns]
ok1
DELETE FROM data_stations WHERE true AND station_id in (902) AND date_time >= '2021-09-08 05:21:00'
ok2
id                  903
name                BA1
lat            -12.9895
lon            -37.4582
data_type          buoy
institution    simcosta
url                  15
Name: 6, dtype: object
http://simcosta.furg.br/api/metereo_data?boiaID=15&type=json&time1=1631069870&time2=1631156270&params=Average_wind_direction_N,Last_sampling_interval_gust_speed,Average_Dew_Point,Average_Pressure,Solar_Radiation_Average_Reading,Average_Air_Temperature,Instantaneous_Humidity,Average_Humidity,Average_wind_speed
http://simcosta.furg.br/api/oceanic_data?boiaID=15&type=json&time1=1631069870&time2=1631156270&params=H10,HAvg,Hsig_Significant_Wave_Height_m,HM0,Mean_Wave_Direction_deg,Hmax_Maximum_Wave_Height_m,ZCN,Tp5,TAvg,T10,Tsig,Mean_Spread_deg,TP_Peak_Period_seconds,Average_Salinity,Average_Temperature_deg_C,Average_Temperature_C,Average_CDOM_QSDE,Average_Chlorophyll_Fluorescence,Average_Dissolved_Oxygen,Average_Nephelometric_Turbidity_Unit_NTU,Cell_Average_Direction_N,Cell_Average_Magnitude_mm_s
    YEAR MONTH DAY HOUR MINUTE SECOND Avg_Air_Press Avg_Air_Tmp   Hmt Avg_Hmt  \
0   2021     9   8   12     51     00       1018.85       25.70  None  100.00
1   2021     9   8   13     21     00       1019.02       25.80  None  100.00
2   2021     9   8   13     51     00       1018.93       25.80  None  100.00
3   2021     9   8   14     21     00       1018.55       25.80  None  100.00
4   2021     9   8   14     51     00       1018.20       25.80  None  100.00
5   2021     9   8   15     21     00       1017.73       25.80  None  100.00
6   2021     9   8   15     51     00       1017.35       25.70  None  100.00
7   2021     9   8   16     21     00       1017.16       25.70  None  100.00
8   2021     9   8   16     51     00       1016.88       25.80  None  100.00
9   2021     9   8   17     21     00       1016.61       25.80  None  100.00
10  2021     9   8   17     51     00       1016.38       25.70  None  100.00
11  2021     9   8   18     21     00       1016.23       25.70  None  100.00
12  2021     9   8   18     51     00       1016.21       25.80  None  100.00
13  2021     9   8   19     21     00       1016.31       25.90  None  100.00
14  2021     9   8   19     51     00       1016.44       25.90  None  100.00
15  2021     9   8   20     21     00       1016.56       25.80  None  100.00
16  2021     9   8   20     51     00       1016.68       25.50  None  100.00
17  2021     9   8   21     51     00       1016.92       25.40  None  100.00
18  2021     9   8   22     21     00       1017.13       25.50  None  100.00
19  2021     9   8   22     51     00       1017.50       25.50  None  100.00
20  2021     9   8   23     21     00       1017.78       25.40  None  100.00
21  2021     9   8   23     51     00       1018.03       25.40  None  100.00
22  2021     9   9    0     21     00       1018.16       25.40  None  100.00

In [40]:
                columns = ['YEAR','MONTH','DAY','HOUR','MINUTE','SECOND','Hmt',
                    'Avg_Wnd_Dir','M_Decl','Avg_W_Tmp1','Avg_Sal','Avg_Spre_N',
                    'Avg_Wv_Dir','Avg_Cel1_Mag','Avg_Cel1_Dir','Avg_Cel1_Dir_N',
                    'Avg_Turb','Avg_Chl','Avg_DO','ZCN','HM0','TAvg','Tp5',
                    'T10','HAvg','Tsig','CDOM','H10','Avg_Sol_Rad']

In [43]:
s.result.drop(columns=columns, inplace=True)

In [44]:
s.result.columns = ['pres', 'atmp', 'rh', 'dewpt', 'wspd', 'wdir', 'gust', 'swvht', 'mxwvht', 'tp', 'sst', 'wvspread', 'wvdir', 'date_time']

In [45]:
s.result = s.result.replace(to_replace =['None', 'NULL', ' ', ''],
                                        value =np.nan)

In [46]:
s.result['station_id'] = 898

In [ ]:
s.