In [1]:
import time
import datetime
import urllib.request, json
import requests

import numpy as np
import pandas as pd
from datetime import datetime, timedelta
from bs4 import BeautifulSoup

from oceanoobsbrasil.db import GetData
%load_ext autoreload
%autoreload 2

In [20]:
df = pd.read_csv('../oceanoobsbrasil/data/tide_table.csv', delimiter='\t')

In [21]:
GetData().feed_bd(table='stations', df=df)

      id                                   name        lat        lon  \
0   1159                        PORTO DE MACEIÓ  -9.683333 -35.718056
1   1160              BARRA NORTE - ARCO LAMOSO   1.433611 -49.217500
2   1161                       PORTO DE SANTANA  -0.051944 -51.166944
3   1162                IGARAPÉ GRANDE DO CURUÁ   0.752222 -50.116667
4   1163            PORTO DE ARATU - BASE NAVAL -12.796667 -38.491667
5   1164                      PORTO DE SALVADOR -12.952500 -38.516667
6   1165                 PORTO DE MADRE DE DEUS -12.735278 -38.617500
7   1166              PORTO DE ILHÉUS - MALHADO -14.768889 -39.018333
8   1167            TERMINAL PORTUÁRIO DO PECÉM  -3.533611 -38.785833
9   1168          PORTO DE MUCURIPE - FORTALEZA  -3.702500 -38.468333
10  1169                       PORTO DE TUBARÃO -20.284167 -40.235000
11  1170               TERMINAL DA PONTA DO UBU -20.783889 -40.567222
12  1171                       ILHA DA TRINDADE -20.501389 -29.301667
13  1172         PORTO DE VITÓRIA - CAIS CODESA -20.321667 -40.336667
14  1173            TERMINAL DE BARRA DO RIACHO -19.834167 -40.051111
15  1174                               SÃO LUÍS  -2.518333 -44.301944
16  1175           TERMINAL DA PONTA DA MADEIRA  -2.552500 -44.368611
17  1176                     TERMINAL DA ALUMAR  -2.668611 -44.352222
18  1177                        PORTO DE TUTÓIA  -2.752500 -42.268056
19  1178                        PORTO DE ITAQUI  -2.568333 -44.367222
20  1179                        ILHA DOS GUARÁS  -0.585833 -47.901111
21  1180                 PORTO DE VILA DO CONDE  -1.534444 -48.750556
22  1181                         PORTO DE BELÉM  -1.440000 -48.490000
23  1182                      ILHA DO MOSQUEIRO  -1.152500 -48.468056
24  1183             FUNDEADOURO DE SALINÓPOLIS  -0.616667 -47.350000
25  1184                  ATRACADOURO DE BREVES  -1.691667 -50.483333
26  1185                      PORTO DE CABEDELO  -6.970000 -34.840000
27  1186        PORTO DE PARANAGUÁ - CAIS OESTE -25.500278 -48.518056
28  1187  BARRA DE PARANAGUÁ - CANAL DA GALHETA -25.566667 -48.316667
29  1188      BARRA DE PARANAGUÁ - CANAL SUESTE -25.540000 -48.295000
30  1189   TERMINAL PORTUÁRIO DA PONTA DO FÉLIX -25.450833 -48.668611
31  1190                         PORTO DE SUAPE  -8.385833 -34.951667
32  1191            ILHA DE FERNANDO DE NORONHA  -3.833333 -32.400556
33  1192                        PORTO DO RECIFE  -8.051111 -34.866944
34  1193                  PORTO DE LUÍS CORREIA  -2.850278 -41.635278
35  1194                TERMINAL DA ILHA GUAÍBA -23.000000 -44.019167
36  1195                         PORTO DO FORNO -22.967500 -42.002222
37  1196  PORTO DO RIO DE JANEIRO - ILHA FISCAL -22.885556 -43.166667
38  1197          TERMINAL MARÍTIMO DE IMBETIBA -22.383611 -41.767222
39  1198                PORTO DE ANGRA DOS REIS -23.013333 -44.315000
40  1199                       PORTO DE ITAGUAÍ -22.919167 -43.834722
41  1200                           PORTO DO AÇU -21.815000 -40.998333
42  1201                  PORTO DE AREIA BRANCA  -4.818056 -37.034444
43  1202                         PORTO DE MACAU  -5.100000 -36.667778
44  1203                         PORTO DE NATAL  -5.768611 -35.201389
45  1204                       PORTO DE GUAMARÉ  -5.100833 -36.317500
46  1205                    PORTO DO RIO GRANDE -32.117778 -52.100556
47  1206                      PORTO DE IMBITUBA -28.218889 -48.650000
48  1207                 PORTO DE FLORIANÓPOLIS -27.584167 -48.551111
49  1208                        PORTO DE ITAJAÍ -26.901667 -48.650556
50  1209          PORTO DE SÃO FRANCISCO DO SUL -26.235278 -48.634444
51  1210                 PORTO DE SANTOS - CPSP -23.956667 -46.308333
52  1211                 PORTO DE SÃO SEBASTIÃO -23.801667 -45.385833
53  1212       TERMINAL MARÍTIMO INÁCIO BARBOSA -10.833333 -36.918611
54  1213        CAPITANIA DOS PORTOS DE SERGIPE -10.917222 -37.035556
55  1214    ESTAÇÃO ANTÁRTICA COMANDANTE FERRAZ -62.083611 -58.385278

   data_type institution                                            url
0       tide  tide_table                         26-porto_de_maceio.pdf
1       tide  tide_table                  1-barra_norte_arco_lamoso.pdf
2       tide  tide_table  3-porto_de_santana_-_cia_docas_de_santana.pdf
3       tide  tide_table                2-igarape_grande_do_curua_0.pdf
4       tide  tide_table                          30-porto_de_aratu.pdf
5       tide  tide_table                       31-porto_de_salvador.pdf
6       tide  tide_table                     29-porto_madre_de_deus.pdf
7       tide  tide_table                         32-porto_de_ilheus.pdf
8       tide  tide_table             16-terminal_portuario_de_pecem.pdf
9       tide  tide_table                       17-porto_do_mucuripe.pdf
10      tide  tide_table                        35-porto_de_tubarao.pdf
11      tide  tide_table                36-terminal_da_ponta_do_ubu.pdf
12      tide  tide_table                        37-ilha_da_trindade.pdf
13      tide  tide_table                        34-porto_de_vitoria.pdf
14      tide  tide_table                33-terminal_barra_do_riacho.pdf
15      tide  tide_table                                10-sao_luis.pdf
16      tide  tide_table            11-terminal_da_ponta_da_madeira.pdf
17      tide  tide_table                      13-terminal_do_alumar.pdf
18      tide  tide_table                         14-porto_de_tutoia.pdf
19      tide  tide_table                         12-porto_de_itaqui.pdf
20      tide  tide_table                          5-ilha_dos_guaras.pdf
21      tide  tide_table                   8-porto_de_vila_do_conde.pdf
22      tide  tide_table                           7-porto_de_belem.pdf
23      tide  tide_table                        6-ilha_do_mosqueiro.pdf
24      tide  tide_table               4-fundeadouro_de_salinopolis.pdf
25      tide  tide_table                    9-atracadouro_de_breves.pdf
26      tide  tide_table                       23-porto_de_cabedelo.pdf
27      tide  tide_table           49-porto_de_paranagua_cais_oeste.pdf
28      tide  tide_table     48-barra_do_paranagua_canal_da_galheta.pdf
29      tide  tide_table          47-barra_do_paranagua_cais_sueste.pdf
30      tide  tide_table    50-terminal_portuario_da_ponta_do_felix.pdf
31      tide  tide_table                          25-porto_de_suape.pdf
32      tide  tide_table                     21-fernando_de_noronha.pdf
33      tide  tide_table                         24-porto_de_recife.pdf
34      tide  tide_table                    15-porto_de_luis_correa.pdf
35      tide  tide_table                 43-terminal_da_ilha_guaiba.pdf
36      tide  tide_table                          40-porto_do_forno.pdf
37      tide  tide_table                 41-porto_do_rio_de_janeiro.pdf
38      tide  tide_table                    39-terminal_de_imbetiba.pdf
39      tide  tide_table                 44-porto_de_angra_dos_reis.pdf
40      tide  tide_table                        42-porto_de_itaguai.pdf
41      tide  tide_table                            38-porto_de_acu.pdf
42      tide  tide_table                   18-porto_de_areia_branca.pdf
43      tide  tide_table                          20-porto_de_macau.pdf
44      tide  tide_table                          22-porto_de_natal.pdf
45      tide  tide_table                        19-porto_de_guamare.pdf
46      tide  tide_table                     55-porto_do_rio_grande.pdf
47      tide  tide_table                       54-porto_de_imbituba.pdf
48      tide  tide_table                  53-porto_de_florianopolis.pdf
49      tide  tide_table                         52-porto_de_itajai.pdf
50      tide  tide_table           51-porto_de_sao_francisco_do_sul.pdf
51      tide  tide_table                         46-porto_de_santos.pdf
52      tide  tide_table                  45-porto_de_sao_sebastiao.pdf
53      tide  tide_table                      27-t_m_inacio_barbosa.pdf
54      tide  tide_table         28-capitania_dos_portos_de_sergipe.pdf
55      tide  tide_table                                  56-eacf_0.pdf

In [2]:
url = 'https://www.marinha.mil.br/chm/tabuas-de-mare'
resp = requests.get(url)
soup = BeautifulSoup(resp.text,'html.parser')

In [11]:
lines1 = []
lines = soup.find_all('td', attrs={'class': 'views-field-field-ficha-mare'})
for line in lines:
    lines1.append(line.a['href'])

In [12]:
lines1

['https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/26-porto_de_maceio.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/1-barra_norte_arco_lamoso.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/3-porto_de_santana_-_cia_docas_de_santana.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/2-igarape_grande_do_curua_0.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/30-porto_de_aratu.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/31-porto_de_salvador.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/29-porto_madre_de_deus.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/32-porto_de_ilheus.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/16-terminal_portuario_de_pecem.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/17-porto_do_mucuripe.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/35-porto_de_tubarao.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/36-terminal_da_ponta_do_ubu.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/37-ilha_da_trindade.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/34-porto_de_vitoria.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/33-terminal_barra_do_riacho.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/10-sao_luis.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/11-terminal_da_ponta_da_madeira.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/13-terminal_do_alumar.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/14-porto_de_tutoia.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/12-porto_de_itaqui.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/5-ilha_dos_guaras.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/8-porto_de_vila_do_conde.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/7-porto_de_belem.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/6-ilha_do_mosqueiro.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/4-fundeadouro_de_salinopolis.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/9-atracadouro_de_breves.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/23-porto_de_cabedelo.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/49-porto_de_paranagua_cais_oeste.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/48-barra_do_paranagua_canal_da_galheta.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/47-barra_do_paranagua_cais_sueste.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/50-terminal_portuario_da_ponta_do_felix.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/25-porto_de_suape.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/21-fernando_de_noronha.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/24-porto_de_recife.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/15-porto_de_luis_correa.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/43-terminal_da_ilha_guaiba.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/40-porto_do_forno.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/41-porto_do_rio_de_janeiro.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/39-terminal_de_imbetiba.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/44-porto_de_angra_dos_reis.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/42-porto_de_itaguai.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/38-porto_de_acu.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/18-porto_de_areia_branca.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/20-porto_de_macau.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/22-porto_de_natal.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/19-porto_de_guamare.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/55-porto_do_rio_grande.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/54-porto_de_imbituba.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/53-porto_de_florianopolis.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/52-porto_de_itajai.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/51-porto_de_sao_francisco_do_sul.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/46-porto_de_santos.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/45-porto_de_sao_sebastiao.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/27-t_m_inacio_barbosa.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/28-capitania_dos_portos_de_sergipe.pdf',
 'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/56-eacf_0.pdf']

In [10]:
lines[0].a['href']

'https://www.marinha.mil.br/chm/sites/www.marinha.mil.br.chm/files/dados_de_mare/26-porto_de_maceio.pdf'

In [5]:
from oceanoobsbrasil.others.ndbc import Ndbc

In [6]:
n = Ndbc()

In [7]:
n.get()

/media/soutobias/extra/code/oceanoobsbrasil/oceanoobsbrasil/others/ndbc.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.result.wspd[self.result.wspd.notnull()] = (self.result.wspd[self.result.wspd.notnull()]*1.94384).round(decimals=1)

   name           date_time   lat   lon  wdir  wspd  swvht  tp  wvdir    pres  \
0  SHIP 2022-07-30 11:00:00   5.0 -10.0   NaN   NaN    NaN NaN    NaN  1015.3
1  SHIP 2022-07-30 11:00:00  -7.9 -14.4   NaN   NaN    NaN NaN    NaN  1017.6
2  SHIP 2022-07-30 11:00:00 -24.2 -46.2   NaN   NaN    NaN NaN    NaN  1019.3
3  SHIP 2022-07-30 10:00:00   1.6 -45.6   NaN   NaN    NaN NaN    NaN  1013.1
4  SHIP 2022-07-30 10:00:00 -23.9 -46.2   NaN   NaN    NaN NaN    NaN  1016.8

   atmp  sst  dewpt  swvht_swell  wvdir_swell
0  31.5  NaN   23.6          NaN          NaN
1  26.3  NaN   20.2          NaN          NaN
2   NaN  NaN    NaN          NaN          NaN
3   NaN  NaN    NaN          NaN          NaN
4   NaN  NaN    NaN          NaN          NaN

In [7]:
n.x

,ID,T1,hour,LAT,LON,WDIR,WSPD,GST,WVHT,DPD,...,VIS,TCC,TIDE,S1HT,S1PD,S1DIR,S2HT,S2PD,S2DIR,date_time
0,SHIP,S,11,5.00,-10.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-30 11:00:00
1,SHIP,S,11,-7.90,-14.40,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-30 11:00:00
2,SHIP,S,11,-24.20,-46.20,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-30 11:00:00
3,SHIP,S,10,1.60,-45.60,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-30 10:00:00
4,SHIP,S,10,-23.90,-46.20,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-30 10:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,31007,B,23,0.00,-23.00,105,6.7,7.6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-29 23:00:00
159,15006,B,23,-6.00,-10.00,129,6.0,7.4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-29 23:00:00
160,31003,B,23,-8.00,-30.00,111,8.6,10.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-29 23:00:00
161,31005,B,23,-19.00,-34.00,57,6.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-29 23:00:00
162,SHIP,S,23,-31.10,7.80,200,6.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-29 23:00:00

In [31]:
n.result.wspd = pd.to_numeric(n.result.wspd, errors='coerce')
n.result.wspd.iloc[0]

5.8

In [30]:
n.result.wspd[n.result.wspd.notnull()]

0       5.8
1       4.1
3       4.6
4       9.8
6       7.2
       ...
122     6.7
123     9.3
124     7.0
125     9.3
126    13.9
Name: wspd, Length: 93, dtype: object

In [18]:
n.get()

TypeError: can't multiply sequence by non-int of type 'float'

In [10]:
db = Getdata()
df = db.get(table='data_no_stations', institution=['in', ['ndbc']], date_time=['>', '2021-09-12'])
df.shape

(139, 17)

In [11]:
type(df.shape)

tuple