In [1]:
"""
Created on Tue Feb 12 23:34:44 2019
@author: tobia
"""

import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from oceanoobsbrasil.db import GetData

import os
import glob
from os.path import expanduser
from dotenv import load_dotenv

from pysofar.sofar import SofarApi
from pysofar.spotter import Spotter

In [2]:
%load_ext autoreload
%autoreload 2
from oceanoobsbrasil.others.spotter_data import SpotterData

In [3]:
s = SpotterData()

In [4]:
s.get_new_data()

SPOT-010065

/home/soutobias/.pyenv/versions/3.8.6/envs/oceanobs1/lib/python3.8/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

SPOT-010014
No wind data for buoy SPOT-010014 from 2022-06-30 to 2022-07-04
No wave data for buoy SPOT-010014 from 2022-06-30 to 2022-07-04
No sst data for buoy SPOT-010014 from 2022-06-30 to 2022-07-04
SPOT-010049
No wind data for buoy SPOT-010049 from 2022-06-30 to 2022-07-04
No wave data for buoy SPOT-010049 from 2022-06-30 to 2022-07-04
No sst data for buoy SPOT-010049 from 2022-06-30 to 2022-07-04
SPOT-010069
SPOT-010067
No wind data for buoy SPOT-010067 from 2022-06-30 to 2022-07-04
No wave data for buoy SPOT-010067 from 2022-06-30 to 2022-07-04
No sst data for buoy SPOT-010067 from 2022-06-30 to 2022-07-04
SPOT-010063
SPOT-010064
SPOT-010051
No wind data for buoy SPOT-010051 from 2022-06-30 to 2022-07-04
No wave data for buoy SPOT-010051 from 2022-06-30 to 2022-07-04
No sst data for buoy SPOT-010051 from 2022-06-30 to 2022-07-04
SPOT-010087
SPOT-010094
SPOT-010090
SPOT-010098
SPOT-010088
No wind data for buoy SPOT-010088 from 2022-06-30 to 2022-07-04
No wave data for buoy SPOT-010088 from 2022-06-30 to 2022-07-04
No sst data for buoy SPOT-010088 from 2022-06-30 to 2022-07-04
SPOT-010086
SPOT-010099
No wind data for buoy SPOT-010099 from 2022-06-30 to 2022-07-04
No wave data for buoy SPOT-010099 from 2022-06-30 to 2022-07-04
No sst data for buoy SPOT-010099 from 2022-06-30 to 2022-07-04
SPOT-010034
SPOT-010089
SPOT-010096
SPOT-010021
No wind data for buoy SPOT-010021 from 2022-06-30 to 2022-07-04
No wave data for buoy SPOT-010021 from 2022-06-30 to 2022-07-04
No sst data for buoy SPOT-010021 from 2022-06-30 to 2022-07-04
SPOT-010083
SPOT-010113
SPOT-010115
SPOT-010116
SPOT-010117
SPOT-010110
No wind data for buoy SPOT-010110 from 2022-06-30 to 2022-07-04
No wave data for buoy SPOT-010110 from 2022-06-30 to 2022-07-04
No sst data for buoy SPOT-010110 from 2022-06-30 to 2022-07-04
SPOT-010108
SPOT-010111
SPOT-010114
SPOT-010112
SPOT-010118
No sst data for buoy SPOT-010118 from 2022-06-30 to 2022-07-04
SPOT-010120
No wind data for buoy SPOT-010120 from 2022-06-30 to 2022-07-04
No wave data for buoy SPOT-010120 from 2022-06-30 to 2022-07-04
No sst data for buoy SPOT-010120 from 2022-06-30 to 2022-07-04
SPOT-010123

/home/soutobias/.pyenv/versions/3.8.6/envs/oceanobs1/lib/python3.8/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

SPOT-010122
No wind data for buoy SPOT-010122 from 2022-06-30 to 2022-07-04
No wave data for buoy SPOT-010122 from 2022-06-30 to 2022-07-04
No sst data for buoy SPOT-010122 from 2022-06-30 to 2022-07-04
SPOT-010121
SPOT-010125
SPOT-010124
No wind data for buoy SPOT-010124 from 2022-06-30 to 2022-07-04
No wave data for buoy SPOT-010124 from 2022-06-30 to 2022-07-04
No sst data for buoy SPOT-010124 from 2022-06-30 to 2022-07-04
SPOT-010127
SPOT-010119
No sst data for buoy SPOT-010119 from 2022-06-30 to 2022-07-04
SPOT-010128

/home/soutobias/.pyenv/versions/3.8.6/envs/oceanobs1/lib/python3.8/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

SPOT-010126
              date_time        lat        lon  wspd  wdir  swvht      tp  \
0   2022-06-03 14:13:31 -54.761750  10.266817   7.6   188  3.377  12.799
1   2022-06-03 15:13:31 -54.745500  10.272250   6.0   211  3.426  12.799
2   2022-06-03 16:13:31 -54.730233  10.276017   6.8   194  3.441  11.378
3   2022-06-03 17:13:31 -54.712700  10.276583   5.6   228  3.370  11.378
4   2022-06-03 18:13:31 -54.693033  10.282417   9.6   182  3.474  11.378
..                  ...        ...        ...   ...   ...    ...     ...
237 2022-06-19 19:02:01 -58.375817 -27.704700   6.0   337  2.108   8.533
238 2022-06-19 20:02:01 -58.385717 -27.714750   6.0   342  2.016   8.533
239 2022-06-19 21:02:01 -58.396700 -27.723950   6.0    40  2.000   8.533
240 2022-07-02 14:33:01 -57.433883 -25.844300   5.6   245  4.750  12.799
241 2022-07-02 15:33:01 -57.428517 -25.828117  10.4   251  4.730  12.799

       wvdir   sst institution data_type  flag
0    277.610 -0.50       sofar   drifter  True
1    278.916 -0.50       sofar   drifter  True
2    273.241 -0.54       sofar   drifter  True
3    270.696 -0.50       sofar   drifter  True
4    241.807 -0.52       sofar   drifter  True
..       ...   ...         ...       ...   ...
237  287.100 -0.34       sofar   drifter  True
238  287.782 -0.34       sofar   drifter  True
239  293.224 -0.36       sofar   drifter  True
240  321.515 -0.66       sofar   drifter  True
241  312.680 -0.64       sofar   drifter  True

[14133 rows x 12 columns]

In [73]:
s.result.head()

            date_time        lat        lon  ...  institution  data_type   flag
0 2022-06-03 13:13:31 -54.776617  10.263050  ...        sofar    drifter  False
1 2022-06-03 14:13:31 -54.761750  10.266817  ...        sofar    drifter  False
2 2022-06-03 15:13:31 -54.745500  10.272250  ...        sofar    drifter  False
3 2022-06-03 16:13:31 -54.730233  10.276017  ...        sofar    drifter  False
4 2022-06-03 17:13:31 -54.712700  10.276583  ...        sofar    drifter  False

[5 rows x 12 columns]

In [45]:
start_date = (datetime.utcnow() - timedelta(days=3)).strftime('%Y-%m-%d')
end_date = (datetime.utcnow() + timedelta(days=1)).strftime('%Y-%m-%d')

In [48]:
spt_data = s.spotters[15].grab_data(
    limit=100,
    start_date=start_date,
    end_date=end_date,
    include_track=True,
    include_wind=True,
    include_surface_temp_data=True,
    include_frequency_data=False,
    include_directional_moments=True
)

In [54]:
format_date = '%Y-%m-%dT%H:%M:%S.000Z'
wind = pd.json_normalize(spt_data, record_path=['wind'], meta=['spotterId'])
wind.loc[:,'timestamp'] = pd.to_datetime(wind.loc[:,'timestamp'], format = format_date)
wave = pd.json_normalize(spt_data, record_path=['waves'], meta=['spotterId'])
wave.loc[:,'timestamp'] = pd.to_datetime(wave.loc[:,'timestamp'], format=format_date)
sst = pd.json_normalize(spt_data, record_path=['surfaceTemp'], meta=['spotterId'])
sst.loc[:,'timestamp'] = pd.to_datetime(sst.loc[:,'timestamp'], format = format_date)

In [61]:
wave.head()

   significantWaveHeight  peakPeriod  ...  longitude    spotterId
0                  2.526      10.240  ...  -36.73440  SPOT-010098
1                  2.424      10.240  ...  -36.71477  SPOT-010098
2                  2.366      10.240  ...  -36.69637  SPOT-010098
3                  2.327       9.309  ...  -36.67853  SPOT-010098
4                  2.372       9.309  ...  -36.66300  SPOT-010098

[5 rows x 11 columns]

In [44]:
s.result

     wspd   wdir seasurfaceId  ... meanDirectionalSpread   sst   spotter_id
0     6.0  205.0          2.0  ...                  None  -0.5  SPOT-010065
1     6.4  188.0          2.0  ...                  None  -0.5  SPOT-010065
2     7.6  188.0          2.0  ...                  None  -0.5  SPOT-010065
3     6.0  211.0          2.0  ...                 60.77  -0.5  SPOT-010065
4     6.8  194.0          2.0  ...                  None -0.54  SPOT-010065
..    ...    ...          ...  ...                   ...   ...          ...
979  None   None         None  ...                  None -0.34  SPOT-010126
980  None   None         None  ...                  None -0.66  SPOT-010126
981  None   None         None  ...                  None -0.66  SPOT-010126
982  None   None         None  ...                  None -0.66  SPOT-010126
983  None   None         None  ...                  None -0.66  SPOT-010126

[54062 rows x 15 columns]

In [32]:
s.data[['date_time','latitude','longitude','wspd','wdir','swvht','peakPeriod',
                          'meanDirection', 'sst']]

              date_time   latitude  longitude  ... peakPeriod meanDirection   sst
0   2022-06-03 12:13:31  -54.79155  10.258633  ...     12.799       277.879  -0.5
1   2022-06-03 13:13:31 -54.776617   10.26305  ...     12.799       281.835  -0.5
2   2022-06-03 14:13:31  -54.76175  10.266817  ...     12.799        277.61  -0.5
3   2022-06-03 15:13:31   -54.7455   10.27225  ...     12.799       278.916  -0.5
4   2022-06-03 16:13:31 -54.730233  10.276017  ...     11.378       273.241 -0.54
..                  ...        ...        ...  ...        ...           ...   ...
755 2022-06-19 20:42:01       None       None  ...       None          None -0.34
756 2022-07-02 13:53:01       None       None  ...       None          None -0.66
757 2022-07-02 14:13:01       None       None  ...       None          None -0.66
758 2022-07-02 14:53:01       None       None  ...       None          None -0.66
759 2022-07-02 15:13:01       None       None  ...       None          None -0.66

[41356 rows x 9 columns]

In [12]:
s.ids

['SPOT-0335',
 'SPOT-0746',
 'SPOT-0739',
 'SPOT-0745',
 'SPOT-010065',
 'SPOT-010014',
 'SPOT-010049',
 'SPOT-010069',
 'SPOT-010067',
 'SPOT-010063',
 'SPOT-010064',
 'SPOT-010051',
 'SPOT-010087',
 'SPOT-010094',
 'SPOT-010090',
 'SPOT-010098',
 'SPOT-010088',
 'SPOT-010086',
 'SPOT-010099',
 'SPOT-010034',
 'SPOT-010089',
 'SPOT-010096',
 'SPOT-010021',
 'SPOT-010083',
 'SPOT-010113',
 'SPOT-010115',
 'SPOT-010116',
 'SPOT-010117',
 'SPOT-010110',
 'SPOT-010108',
 'SPOT-010111',
 'SPOT-010114',
 'SPOT-010112',
 'SPOT-010118',
 'SPOT-010120',
 'SPOT-010123',
 'SPOT-010122',
 'SPOT-010121',
 'SPOT-010125',
 'SPOT-010124',
 'SPOT-010127',
 'SPOT-010119',
 'SPOT-010128',
 'SPOT-010126',
 'SPOT-1560',
 'SPOT-1564',
 'SPOT-1566']

In [10]:
s.ids.remove('SPOT-0335')
s.ids.rem'aove('SPOT

['SPOT-0746',
 'SPOT-0739',
 'SPOT-0745',
 'SPOT-010065',
 'SPOT-010014',
 'SPOT-010049',
 'SPOT-010069',
 'SPOT-010067',
 'SPOT-010063',
 'SPOT-010064',
 'SPOT-010051',
 'SPOT-010087',
 'SPOT-010094',
 'SPOT-010090',
 'SPOT-010098',
 'SPOT-010088',
 'SPOT-010086',
 'SPOT-010099',
 'SPOT-010034',
 'SPOT-010089',
 'SPOT-010096',
 'SPOT-010021',
 'SPOT-010083',
 'SPOT-010113',
 'SPOT-010115',
 'SPOT-010116',
 'SPOT-010117',
 'SPOT-010110',
 'SPOT-010108',
 'SPOT-010111',
 'SPOT-010114',
 'SPOT-010112',
 'SPOT-010118',
 'SPOT-010120',
 'SPOT-010123',
 'SPOT-010122',
 'SPOT-010121',
 'SPOT-010125',
 'SPOT-010124',
 'SPOT-010127',
 'SPOT-010119',
 'SPOT-010128',
 'SPOT-010126',
 'SPOT-1560',
 'SPOT-1564',
 'SPOT-1566']

In [4]:
bd = GetData()

In [4]:
bd.get(table='stations', institution=['=', 'simcosta'], data_type=['=', 'buoy'])

    id name         lat         lon data_type institution url
0  897  RJ3    -22.9831    -43.1745      buoy    simcosta   3
1  898  RS2    -32.1346 -52098.0000      buoy    simcosta   6
2  899  RS5 -32296.0000    -52.0239      buoy    simcosta  10
3  900  RJ4    -22.9715    -43.1522      buoy    simcosta  12
4  901  RS3 -32195.0000    -52.0794      buoy    simcosta  13
5  902  RS4    -32.2454    -52.0954      buoy    simcosta  14
6  903  BA1    -12.9895    -37.4582      buoy    simcosta  15

In [8]:
df = bd.get(table='data_stations', station_id=['in', [902]])

In [9]:
df.shape

(94, 22)

In [7]:
bd.post(table='data_stations', df=df)

DELETE FROM data_stations WHERE true AND station_id in (902) AND date_time >= '2021-09-06 00:21:00'

In [3]:
import time
import datetime
import operator
import urllib.request, json

import numpy as np
from oceanoobsbrasil.buoys.simcosta import Simcosta
from oceanoobsbrasil.tides.simcosta import SimcostaTide

In [4]:
s = SimcostaTide()

In [5]:
s.get()

Nao ha dados para essa boia
Nao ha dados para essa boia
Nao ha dados para essa boia

KeyboardInterrupt:

In [52]:
s = Simcosta()

In [53]:
s.get()

id                  897
name                RJ3
lat            -22.9831
lon            -43.1745
data_type          buoy
institution    simcosta
url                   3
Name: 0, dtype: object
http://simcosta.furg.br/api/metereo_data?boiaID=3&type=json&time1=1631069870&time2=1631156270&params=Average_wind_direction_N,Last_sampling_interval_gust_speed,Average_Dew_Point,Average_Pressure,Solar_Radiation_Average_Reading,Average_Air_Temperature,Instantaneous_Humidity,Average_Humidity,Average_wind_speed
http://simcosta.furg.br/api/oceanic_data?boiaID=3&type=json&time1=1631069870&time2=1631156270&params=H10,HAvg,Hsig_Significant_Wave_Height_m,HM0,Mean_Wave_Direction_deg,Hmax_Maximum_Wave_Height_m,ZCN,Tp5,TAvg,T10,Tsig,Mean_Spread_deg,TP_Peak_Period_seconds,Average_Salinity,Average_Temperature_deg_C,Average_Temperature_C,Average_CDOM_QSDE,Average_Chlorophyll_Fluorescence,Average_Dissolved_Oxygen,Average_Nephelometric_Turbidity_Unit_NTU,Cell_Average_Direction_N,Cell_Average_Magnitude_mm_s
Empty DataFrame
Columns: []
Index: []
Nao ha dados para essa boia
id                  898
name                RS2
lat            -32.1346
lon            -52098.0
data_type          buoy
institution    simcosta
url                   6
Name: 1, dtype: object
http://simcosta.furg.br/api/metereo_data?boiaID=6&type=json&time1=1631069870&time2=1631156270&params=Average_wind_direction_N,Last_sampling_interval_gust_speed,Average_Dew_Point,Average_Pressure,Solar_Radiation_Average_Reading,Average_Air_Temperature,Instantaneous_Humidity,Average_Humidity,Average_wind_speed
http://simcosta.furg.br/api/oceanic_data?boiaID=6&type=json&time1=1631069870&time2=1631156270&params=H10,HAvg,Hsig_Significant_Wave_Height_m,HM0,Mean_Wave_Direction_deg,Hmax_Maximum_Wave_Height_m,ZCN,Tp5,TAvg,T10,Tsig,Mean_Spread_deg,TP_Peak_Period_seconds,Average_Salinity,Average_Temperature_deg_C,Average_Temperature_C,Average_CDOM_QSDE,Average_Chlorophyll_Fluorescence,Average_Dissolved_Oxygen,Average_Nephelometric_Turbidity_Unit_NTU,Cell_Average_Direction_N,Cell_Average_Magnitude_mm_s
    YEAR MONTH DAY HOUR MINUTE SECOND Avg_Air_Press Avg_Air_Tmp   Hmt Avg_Hmt  \
0   2021     9   8   13     21     00       1008.25       15.90  None  100.00
1   2021     9   8   13     51     00       1006.61       15.50  None  100.00
2   2021     9   8   15     21     00       1005.88       16.10  None  100.00
3   2021     9   8   15     51     00       1005.52       16.80  None   99.80
4   2021     9   8   16     21     00       1003.89       16.60  None   99.80
5   2021     9   8   16     51     00       1005.85       16.80  None   99.80
6   2021     9   8   17     21     00       1006.56       16.80  None   99.80
7   2021     9   8   17     51     00       1006.43       16.20  None  100.00
8   2021     9   8   18     21     00       1005.64       16.00  None  100.00
9   2021     9   8   18     51     00       1005.77       16.00  None  100.00
10  2021     9   8   19     21     00       1005.86       16.40  None  100.00
11  2021     9   8   19     51     00       1005.69       16.50  None  100.00
12  2021     9   8   20     21     00       1005.95       16.50  None  100.00
13  2021     9   8   20     51     00       1005.79       16.40  None  100.00
14  2021     9   8   21     21     00       1005.81       16.30  None  100.00
15  2021     9   8   21     51     00       1006.31       16.40  None  100.00
16  2021     9   8   22     21     00       1006.60       16.60  None  100.00
17  2021     9   8   22     51     00       1006.72       16.80  None  100.00
18  2021     9   8   23     21     00       1006.89       17.20  None  100.00
19  2021     9   8   23     51     00       1006.85       17.30  None  100.00
20  2021     9   9    0     21     00       1006.84       17.30  None  100.00
21  2021     9   9    0     51     00       1007.05       17.30  None  100.00
22  2021     9   9    1     21     00       1007.23       17.50  None  100.00
23  2021     9   9    1     51     00       1007.52       17.40  None  100.00
24  2021     9   9    2     21     00       1007.47       17.70  None  100.00
25  2021     9   9    2     51     00       1007.56       18.20  None  100.00

    ...   H10  HAvg  Tsig   CDOM  YEAR MONTH DAY HOUR MINUTE SECOND
0   ...  0.19  0.10  2.30  41.99  2021     9   8   13     21      0
1   ...  0.20  0.10  2.30  41.76  2021     9   8   13     51      0
2   ...  0.20  0.11  2.80  42.53  2021     9   8   15     21      0
3   ...  0.25  0.13  3.00  42.45  2021     9   8   15     51      0
4   ...  0.22  0.12  2.70  40.34  2021     9   8   16     21      0
5   ...  0.17  0.09  2.90  37.75  2021     9   8   16     51      0
6   ...  0.14  0.07  3.00  35.23  2021     9   8   17     21      0
7   ...  0.13  0.07  2.90  32.80  2021     9   8   17     51      0
8   ...  0.13  0.07  2.60  32.41  2021     9   8   18     21      0
9   ...  0.11  0.06  2.60  32.23  2021     9   8   18     51      0
10  ...  0.10  0.05  3.00  31.82  2021     9   8   19     21      0
11  ...  0.09  0.05  2.60  32.84  2021     9   8   19     51      0
12  ...  0.07  0.04  4.50  33.04  2021     9   8   20     21      0
13  ...  0.07  0.03  5.10  31.70  2021     9   8   20     51      0
14  ...  0.07  0.04  6.60  31.63  2021     9   8   21     21      0
15  ...  0.08  0.04  6.50  29.66  2021     9   8   21     51      0
16  ...  0.10  0.05  6.40  24.38  2021     9   8   22     21      0
17  ...  0.10  0.06  6.00  20.09  2021     9   8   22     51      0
18  ...  0.09  0.04  5.70  18.88  2021     9   8   23     21      0
19  ...  0.15  0.09  5.70  17.11  2021     9   8   23     51      0
20  ...  0.17  0.08  5.60  16.48  2021     9   9    0     21      0
21  ...  0.11  0.06  5.60  14.34  2021     9   9    0     51      0
22  ...  0.07  0.03  5.50  13.98  2021     9   9    1     21      0
23  ...  0.06  0.03  5.40  15.40  2021     9   9    1     51      0
24  ...  0.04  0.02  1.80  16.30  2021     9   9    2     21      0
25  ...  0.05  0.03  5.70  12.89  2021     9   9    2     51      0

[26 rows x 49 columns]
ok1
DELETE FROM data_stations WHERE true AND station_id in (898) AND date_time >= '2021-09-08 13:21:00'
ok2
id                  899
name                RS5
lat            -32296.0
lon            -52.0239
data_type          buoy
institution    simcosta
url                  10
Name: 2, dtype: object
http://simcosta.furg.br/api/metereo_data?boiaID=10&type=json&time1=1631069870&time2=1631156270&params=Average_wind_direction_N,Last_sampling_interval_gust_speed,Average_Dew_Point,Average_Pressure,Solar_Radiation_Average_Reading,Average_Air_Temperature,Instantaneous_Humidity,Average_Humidity,Average_wind_speed
http://simcosta.furg.br/api/oceanic_data?boiaID=10&type=json&time1=1631069870&time2=1631156270&params=H10,HAvg,Hsig_Significant_Wave_Height_m,HM0,Mean_Wave_Direction_deg,Hmax_Maximum_Wave_Height_m,ZCN,Tp5,TAvg,T10,Tsig,Mean_Spread_deg,TP_Peak_Period_seconds,Average_Salinity,Average_Temperature_deg_C,Average_Temperature_C,Average_CDOM_QSDE,Average_Chlorophyll_Fluorescence,Average_Dissolved_Oxygen,Average_Nephelometric_Turbidity_Unit_NTU,Cell_Average_Direction_N,Cell_Average_Magnitude_mm_s
Empty DataFrame
Columns: []
Index: []
Nao ha dados para essa boia
id                  900
name                RJ4
lat            -22.9715
lon            -43.1522
data_type          buoy
institution    simcosta
url                  12
Name: 3, dtype: object
http://simcosta.furg.br/api/metereo_data?boiaID=12&type=json&time1=1631069870&time2=1631156270&params=Average_wind_direction_N,Last_sampling_interval_gust_speed,Average_Dew_Point,Average_Pressure,Solar_Radiation_Average_Reading,Average_Air_Temperature,Instantaneous_Humidity,Average_Humidity,Average_wind_speed
http://simcosta.furg.br/api/oceanic_data?boiaID=12&type=json&time1=1631069870&time2=1631156270&params=H10,HAvg,Hsig_Significant_Wave_Height_m,HM0,Mean_Wave_Direction_deg,Hmax_Maximum_Wave_Height_m,ZCN,Tp5,TAvg,T10,Tsig,Mean_Spread_deg,TP_Peak_Period_seconds,Average_Salinity,Average_Temperature_deg_C,Average_Temperature_C,Average_CDOM_QSDE,Average_Chlorophyll_Fluorescence,Average_Dissolved_Oxygen,Average_Nephelometric_Turbidity_Unit_NTU,Cell_Average_Direction_N,Cell_Average_Magnitude_mm_s

    YEAR MONTH DAY HOUR MINUTE SECOND Avg_Air_Press Avg_Air_Tmp    Hmt  \
0   2021     9   8    3     21     00       1018.53        None  45.20
1   2021     9   8    3     51     00       1018.39        None  44.30
2   2021     9   8    4     51     00       1017.51        None  44.00
3   2021     9   8    5     21     00       1017.30        None  44.60
4   2021     9   8    5     51     00       1016.99        None  43.80
5   2021     9   8    6     51     00       1015.98        None  43.70
6   2021     9   8    7     21     00       1015.71        None  44.60
7   2021     9   8    7     51     00       1015.55        None  43.60
8   2021     9   8    8     21     00       1015.67        None  44.50
9   2021     9   8    9     21     00       1016.01        None  44.50
10  2021     9   8    9     51     00       1016.16        None  43.70
11  2021     9   8   10     21     00       1016.07        None  45.40
12  2021     9   8   10     51     00       1016.14        None  46.60
13  2021     9   8   11     21     00       1016.19        None  48.60
14  2021     9   8   12     21     00       1016.44        None  52.40
15  2021     9   8   12     51     00       1016.37        None  53.60
16  2021     9   8   13     21     00       1016.25        None  54.70
17  2021     9   8   13     51     00       1015.75        None  54.90
18  2021     9   8   14     21     00       1015.38        None  53.50
19  2021     9   8   14     51     00       1014.72        None  52.70
20  2021     9   8   15     21     00       1013.94        None  52.10
21  2021     9   8   15     51     00       1013.20        None  51.60
22  2021     9   8   16     21     00       1012.51        None  51.30
23  2021     9   8   16     51     00       1011.82        None  50.90
24  2021     9   8   17     51     00       1010.51        None  50.60
25  2021     9   8   18     51     00       1009.28        None  51.50
26  2021     9   8   19     21     00       1008.89        None  51.90
27  2021     9   8   19     51     00       1008.60        None  51.90
28  2021     9   8   20     21     00       1008.35        None  51.80
29  2021     9   8   21     21     00       1009.32        None  50.80
30  2021     9   8   22     21     00       1010.30        None  48.20
31  2021     9   9    0     21     00       1011.18        None  46.20
32  2021     9   9    1     21     00       1010.84        None  45.90
33  2021     9   9    1     51     00       1010.79        None  45.30

   Avg_Hmt  ...   H10  HAvg  Tsig  CDOM  YEAR MONTH DAY HOUR MINUTE SECOND
0     None  ...  1.88  0.93  7.70  NULL  2021     9   8    3     21     40
1     None  ...  1.75  0.92  7.50  NULL  2021     9   8    3     51     40
2     None  ...  1.94  0.96  7.80  NULL  2021     9   8    4     51     40
3     None  ...  1.80  0.95  8.60  NULL  2021     9   8    5     21     40
4     None  ...  2.01  0.99  8.80  NULL  2021     9   8    5     51     40
5     None  ...  1.86  1.02  8.70  NULL  2021     9   8    6     51     40
6     None  ...  1.82  0.97  8.20  NULL  2021     9   8    7     21     40
7     None  ...  1.95  0.95  8.60  NULL  2021     9   8    7     51     40
8     None  ...  1.74  0.95  8.30  NULL  2021     9   8    8     21     40
9     None  ...  1.87  1.02  9.00  NULL  2021     9   8    9     21     40
10    None  ...  1.95  0.91  8.50  NULL  2021     9   8    9     51     40
11    None  ...  1.65  0.87  7.40  NULL  2021     9   8   10     21     40
12    None  ...  1.91  0.96  7.90  NULL  2021     9   8   10     51     40
13    None  ...  1.64  0.87  8.80  NULL  2021     9   8   11     21     40
14    None  ...  1.78  0.96  8.40  NULL  2021     9   8   12     21     40
15    None  ...  1.81  0.97  8.50  NULL  2021     9   8   12     51     40
16    None  ...  1.90  0.98  7.90  NULL  2021     9   8   13     21     40
17    None  ...  1.81  0.92  6.90  NULL  2021     9   8   13     51     40
18    None  ...  1.83  0.98  7.80  NULL  2021     9   8   14     21     40
19    None  ...  1.70  0.89  6.90  NULL  2021     9   8   14     51     40
20    None  ...  1.99  0.95  6.90  NULL  2021     9   8   15     21     40
21    None  ...  2.03  1.07  7.60  NULL  2021     9   8   15     51     40
22    None  ...  1.97  1.06  6.80  NULL  2021     9   8   16     21     40
23    None  ...  2.05  1.08  7.20  NULL  2021     9   8   16     51     40
24    None  ...  2.02  1.12  6.90  NULL  2021     9   8   17     51     40
25    None  ...  1.84  1.03  7.10  NULL  2021     9   8   18     51     40
26    None  ...  2.03  1.11  7.70  NULL  2021     9   8   19     21     40
27    None  ...  1.99  0.96  7.60  NULL  2021     9   8   19     51     40
28    None  ...  1.84  1.02  7.70  NULL  2021     9   8   20     21     40
29    None  ...  1.95  0.98  8.10  NULL  2021     9   8   21     21     40
30    None  ...  1.97  1.06  7.80  NULL  2021     9   8   22     21     40
31    None  ...  1.90  0.99  8.90  NULL  2021     9   9    0     21     40
32    None  ...  1.96  1.01  8.00  NULL  2021     9   9    1     21     40
33    None  ...  1.87  0.95  7.60  NULL  2021     9   9    1     51     40

[34 rows x 49 columns]
ok1
DELETE FROM data_stations WHERE true AND station_id in (900) AND date_time >= '2021-09-08 03:21:00'
ok2
id                  901
name                RS3
lat            -32195.0
lon            -52.0794
data_type          buoy
institution    simcosta
url                  13
Name: 4, dtype: object
http://simcosta.furg.br/api/metereo_data?boiaID=13&type=json&time1=1631069870&time2=1631156270&params=Average_wind_direction_N,Last_sampling_interval_gust_speed,Average_Dew_Point,Average_Pressure,Solar_Radiation_Average_Reading,Average_Air_Temperature,Instantaneous_Humidity,Average_Humidity,Average_wind_speed
http://simcosta.furg.br/api/oceanic_data?boiaID=13&type=json&time1=1631069870&time2=1631156270&params=H10,HAvg,Hsig_Significant_Wave_Height_m,HM0,Mean_Wave_Direction_deg,Hmax_Maximum_Wave_Height_m,ZCN,Tp5,TAvg,T10,Tsig,Mean_Spread_deg,TP_Peak_Period_seconds,Average_Salinity,Average_Temperature_deg_C,Average_Temperature_C,Average_CDOM_QSDE,Average_Chlorophyll_Fluorescence,Average_Dissolved_Oxygen,Average_Nephelometric_Turbidity_Unit_NTU,Cell_Average_Direction_N,Cell_Average_Magnitude_mm_s
Empty DataFrame
Columns: []
Index: []
Nao ha dados para essa boia
id                  902
name                RS4
lat            -32.2454
lon            -52.0954
data_type          buoy
institution    simcosta
url                  14
Name: 5, dtype: object
http://simcosta.furg.br/api/metereo_data?boiaID=14&type=json&time1=1631069870&time2=1631156270&params=Average_wind_direction_N,Last_sampling_interval_gust_speed,Average_Dew_Point,Average_Pressure,Solar_Radiation_Average_Reading,Average_Air_Temperature,Instantaneous_Humidity,Average_Humidity,Average_wind_speed
http://simcosta.furg.br/api/oceanic_data?boiaID=14&type=json&time1=1631069870&time2=1631156270&params=H10,HAvg,Hsig_Significant_Wave_Height_m,HM0,Mean_Wave_Direction_deg,Hmax_Maximum_Wave_Height_m,ZCN,Tp5,TAvg,T10,Tsig,Mean_Spread_deg,TP_Peak_Period_seconds,Average_Salinity,Average_Temperature_deg_C,Average_Temperature_C,Average_CDOM_QSDE,Average_Chlorophyll_Fluorescence,Average_Dissolved_Oxygen,Average_Nephelometric_Turbidity_Unit_NTU,Cell_Average_Direction_N,Cell_Average_Magnitude_mm_s
   YEAR MONTH DAY HOUR MINUTE SECOND Avg_Air_Press Avg_Air_Tmp   Hmt Avg_Hmt  \
0  2021     9   8    5     21     00       1012.82       14.90  None    None
1  2021     9   8    5     51     00       1011.70       15.00  None    None
2  2021     9   8    6     21     00       1010.18       15.10  None    None
3  2021     9   8    6     51     00       1010.23       15.10  None    None
4  2021     9   8    7     21     00       1010.55       15.10  None    None
5  2021     9   8    7     51     00       1010.78       15.00  None    None
6  2021     9   8   12     21     00       1009.75       15.40  None    None
7  2021     9   8   12     51     00       1009.74       15.40  None    None
8  2021     9   8   13     51     00       1007.53       15.20  None    None

   ...   H10  HAvg  Tsig   CDOM  YEAR MONTH DAY HOUR MINUTE SECOND
0  ...  2.18  1.20  7.20  33.22  2021     9   8    5     21      0
1  ...  2.22  1.24  7.50  38.73  2021     9   8    5     51      0
2  ...  2.17  1.20  7.30  37.71  2021     9   8    6     21      0
3  ...  2.53  1.27  7.60  34.29  2021     9   8    6     51      0
4  ...  2.23  1.17  7.40  35.51  2021     9   8    7     21      0
5  ...  2.29  1.31  7.50  35.94  2021     9   8    7     51      0
6  ...  2.44  1.32  7.80  49.74  2021     9   8   12     21      0
7  ...  2.20  1.21  7.50  48.19  2021     9   8   12     51      0
8  ...  2.53  1.35  7.80  55.47  2021     9   8   13     51      0

[9 rows x 49 columns]
ok1
DELETE FROM data_stations WHERE true AND station_id in (902) AND date_time >= '2021-09-08 05:21:00'

ok2
id                  903
name                BA1
lat            -12.9895
lon            -37.4582
data_type          buoy
institution    simcosta
url                  15
Name: 6, dtype: object
http://simcosta.furg.br/api/metereo_data?boiaID=15&type=json&time1=1631069870&time2=1631156270&params=Average_wind_direction_N,Last_sampling_interval_gust_speed,Average_Dew_Point,Average_Pressure,Solar_Radiation_Average_Reading,Average_Air_Temperature,Instantaneous_Humidity,Average_Humidity,Average_wind_speed
http://simcosta.furg.br/api/oceanic_data?boiaID=15&type=json&time1=1631069870&time2=1631156270&params=H10,HAvg,Hsig_Significant_Wave_Height_m,HM0,Mean_Wave_Direction_deg,Hmax_Maximum_Wave_Height_m,ZCN,Tp5,TAvg,T10,Tsig,Mean_Spread_deg,TP_Peak_Period_seconds,Average_Salinity,Average_Temperature_deg_C,Average_Temperature_C,Average_CDOM_QSDE,Average_Chlorophyll_Fluorescence,Average_Dissolved_Oxygen,Average_Nephelometric_Turbidity_Unit_NTU,Cell_Average_Direction_N,Cell_Average_Magnitude_mm_s
    YEAR MONTH DAY HOUR MINUTE SECOND Avg_Air_Press Avg_Air_Tmp   Hmt Avg_Hmt  \
0   2021     9   8   12     51     00       1018.85       25.70  None  100.00
1   2021     9   8   13     21     00       1019.02       25.80  None  100.00
2   2021     9   8   13     51     00       1018.93       25.80  None  100.00
3   2021     9   8   14     21     00       1018.55       25.80  None  100.00
4   2021     9   8   14     51     00       1018.20       25.80  None  100.00
5   2021     9   8   15     21     00       1017.73       25.80  None  100.00
6   2021     9   8   15     51     00       1017.35       25.70  None  100.00
7   2021     9   8   16     21     00       1017.16       25.70  None  100.00
8   2021     9   8   16     51     00       1016.88       25.80  None  100.00
9   2021     9   8   17     21     00       1016.61       25.80  None  100.00
10  2021     9   8   17     51     00       1016.38       25.70  None  100.00
11  2021     9   8   18     21     00       1016.23       25.70  None  100.00
12  2021     9   8   18     51     00       1016.21       25.80  None  100.00
13  2021     9   8   19     21     00       1016.31       25.90  None  100.00
14  2021     9   8   19     51     00       1016.44       25.90  None  100.00
15  2021     9   8   20     21     00       1016.56       25.80  None  100.00
16  2021     9   8   20     51     00       1016.68       25.50  None  100.00
17  2021     9   8   21     51     00       1016.92       25.40  None  100.00
18  2021     9   8   22     21     00       1017.13       25.50  None  100.00
19  2021     9   8   22     51     00       1017.50       25.50  None  100.00
20  2021     9   8   23     21     00       1017.78       25.40  None  100.00
21  2021     9   8   23     51     00       1018.03       25.40  None  100.00
22  2021     9   9    0     21     00       1018.16       25.40  None  100.00
23  2021     9   9    0     51     00       1018.24       25.40  None  100.00
24  2021     9   9    1     21     00       1018.24       25.40  None  100.00
25  2021     9   9    1     51     00       1018.24       25.30  None  100.00
26  2021     9   9    2     51     00       1017.97       25.20  None  100.00

    ...   H10  HAvg  Tsig  CDOM  YEAR MONTH DAY HOUR MINUTE SECOND
0   ...  0.58  0.31  5.00  1.12  2021     9   8   12     51      0
1   ...  0.64  0.35  4.40  1.12  2021     9   8   13     21      0
2   ...  0.56  0.31  4.00  1.07  2021     9   8   13     51      0
3   ...  0.57  0.29  3.80  1.06  2021     9   8   14     21      0
4   ...  0.67  0.35  3.90  1.06  2021     9   8   14     51      0
5   ...  0.70  0.34  3.70  1.06  2021     9   8   15     21      0
6   ...  0.52  0.27  3.80  0.98  2021     9   8   15     51      0
7   ...  0.55  0.28  4.60  0.71  2021     9   8   16     21      0
8   ...  0.60  0.30  4.20  0.79  2021     9   8   16     51      0
9   ...  0.55  0.30  4.50  0.64  2021     9   8   17     21      0
10  ...  0.61  0.32  4.40  0.62  2021     9   8   17     51      0
11  ...  0.57  0.29  4.10  0.48  2021     9   8   18     21      0
12  ...  0.61  0.32  4.40  0.60  2021     9   8   18     51      0
13  ...  0.61  0.31  4.80  0.68  2021     9   8   19     21      0
14  ...  0.55  0.30  4.30  0.63  2021     9   8   19     51      0
15  ...  0.55  0.29  4.50  0.63  2021     9   8   20     21      0
16  ...  0.58  0.28  6.10  0.62  2021     9   8   20     51      0
17  ...  0.50  0.25  6.70  0.90  2021     9   8   21     51      0
18  ...  0.43  0.21  7.10  0.78  2021     9   8   22     21      0
19  ...  0.42  0.23  7.60  0.74  2021     9   8   22     51      0
20  ...  0.39  0.21  6.70  0.89  2021     9   8   23     21      0
21  ...  0.43  0.23  6.50  0.99  2021     9   8   23     51      0
22  ...  0.45  0.26  7.00  0.98  2021     9   9    0     21      0
23  ...  0.42  0.22  6.70  0.98  2021     9   9    0     51      0
24  ...  0.48  0.26  6.10  1.06  2021     9   9    1     21      0
25  ...  0.42  0.24  4.70  1.06  2021     9   9    1     51      0
26  ...  0.40  0.23  4.40  1.00  2021     9   9    2     51      0

[27 rows x 49 columns]
ok1
DELETE FROM data_stations WHERE true AND station_id in (903) AND date_time >= '2021-09-08 12:51:00'
ok2

In [40]:
                columns = ['YEAR','MONTH','DAY','HOUR','MINUTE','SECOND','Hmt',
                    'Avg_Wnd_Dir','M_Decl','Avg_W_Tmp1','Avg_Sal','Avg_Spre_N',
                    'Avg_Wv_Dir','Avg_Cel1_Mag','Avg_Cel1_Dir','Avg_Cel1_Dir_N',
                    'Avg_Turb','Avg_Chl','Avg_DO','ZCN','HM0','TAvg','Tp5',
                    'T10','HAvg','Tsig','CDOM','H10','Avg_Sol_Rad']

In [43]:
s.result.drop(columns=columns, inplace=True)

In [44]:
s.result.columns = ['pres', 'atmp', 'rh', 'dewpt', 'wspd', 'wdir', 'gust', 'swvht', 'mxwvht', 'tp', 'sst', 'wvspread', 'wvdir', 'date_time']

In [45]:
s.result = s.result.replace(to_replace =['None', 'NULL', ' ', ''],
                                        value =np.nan)

In [46]:
s.result['station_id'] = 898

In [ ]:
s.