In [91]:
import os
import time

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options
from datetime import datetime as dt
from datetime import timedelta
import time
import pandas as pd
import psutil
from bs4 import BeautifulSoup

from oceanoobsbrasil.db import GetData
from oceanoobsbrasil.utils import *

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [106]:
from oceanoobsbrasil.tides.ilha_fiscal_tide import IlhaFiscal

In [109]:
h = IlhaFiscal()

In [110]:
h.get()

driver is running
chrome is still running, we can quit
driver has died

In [111]:
h.result

              date_time  water_level station_id
3   2021-10-17 10:40:00         2.55        904
4   2021-10-17 10:35:00         2.54        904
5   2021-10-17 10:30:00         2.56        904
6   2021-10-17 10:25:00         2.57        904
7   2021-10-17 10:20:00         2.47        904
..                  ...          ...        ...
197 2021-10-16 18:30:00         2.17        904
198 2021-10-16 18:25:00         2.12        904
199 2021-10-16 18:20:00         2.15        904
200 2021-10-16 18:15:00         2.14        904
201 2021-10-16 18:10:00         2.18        904

[199 rows x 3 columns]